<header>
    <nav>
        <section class="nav-bar">
            <a href='#' class="logo"></a>
            <form>
                <input type="search" placeholder="Search" aria-label="Search">
                <button type="submit">Search</button>
            </form>
        </section>
    </nav>
</header>