<header>
    <nav>
        <section>
            <a href='/' class="logo">WeeklyNerd</a>
            <input type='checkbox' id='check' />
            <ul class="menu">

                <li><a href="/">Home</a></li>
                <li><a href="/about">About Me</a></li>

                <!-- <li class="search">
                    <form action="" method="get" id="searchBox">
                        <i class="fa fa-search" id="searchIcon" aria-hidden="true"></i>
                        <input type="search" name="q" id="result" placeholder="Search" aria-label="Search">
                        <i class="fa fa-microphone" id="microphoneButton"></i>
                    </form>
                </li> -->
                <label for="check" class="close-menu">
                    <svg viewBox="0 0 512.69 513">
                        <use xlink:href="/assets/icons/icons.svg#close-icon"></use>
                    </svg>
                </label>
            </ul>

            <label for="check" class="open-menu">
                <svg viewBox="0 0 512.69 513">
                    <use xlink:href="/assets/icons/icons.svg#menu-icon"></use>
                </svg>
            </label>
        </section>
    </nav>
</header>