/* FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Leckerli+One");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower");

/* LAYER */
@layer base {
    /* RESETTING */
    *,
    *::after,
    *::before {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
        font-family: "Indie Flower", cursive;
    }

    button,
    summary {
        cursor: pointer;
    }
}

/* CUSTOM PROPERTIES */
:root {
    /* colors */
    --white: white;
    --black: black;

    --on-off: sienna;

    --change-white: #fff;
    --change-black: #181818;

    --dark-blue: #0d4565;
    --blue: #4d869c;
    --light-blue: #7ab2b2;
    --blueish: #cde8e5;
    --light-blueish: #eef7ff;
}

@media screen and (width > 1rem) {
    /* GENERAL STYLING */
    body {
        background: var(--light-blue);
        background: radial-gradient(circle, var(--light-blueish) 0%, var(--blueish) 50%, var(--light-blue) 100%);
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        margin: 5rem;
        margin-top: 6em;
    }

    /* hidden h1 */
    h1 {
        /* https://www.a11yproject.com/posts/how-to-hide-content/ */
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }

    a {
        text-decoration: none;
        cursor: pointer;
        color: var(--white);
    }

    li {
        list-style: none;
    }

    /* NAVBAR */
    header {
        padding: 1em;
        background-color: var(--blue);
        background: linear-gradient(180deg, var(--dark-blue), var(--blue) 100%);
        position: fixed;
        top: 0cm;
        width: 100vw;
        z-index: 100;
    }

    header nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        color: var(--light-blueish);
        font-size: 1.5em;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2em;
        /* padding-inline-start: 0; */
        margin: 0;
        height: max-content;
    }

    nav ul li {
        padding-inline-start: 0px;
        list-style-type: none;
        padding-left: 0;
        list-style: none;
        cursor: pointer;
    }

    header nav > section {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        position: relative;
        padding: 12px 20px;
    }

    .menu li a {
        display: inline-block;
        color: var(--change-white);
        text-align: center;
        transition: 0.15s ease-in-out;
        position: relative;
        text-transform: uppercase;
    }

    .menu li a::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background-color: var(--change-white);
        transition: 0.15s ease-in-out;
    }

    .menu li a:hover:after {
        width: 100%;
    }

    .open-menu,
    .close-menu {
        position: absolute;
        color: var(--change-white);
        cursor: pointer;
        font-size: 1.5rem;
        display: none;
    }

    .open-menu {
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    .close-menu {
        top: 32px;
        right: 36px;
    }

    #check {
        display: none;
    }

    /* search form */
    /* .search {
        display: flex;
        justify-content: center;
        align-items: center;
    } */

    /* https://codepen.io/cjr85/pen/XWMMXob */
    /* #searchBox {
        display: flex;
        align-items: center;
        padding: 1em;

        background: var(--change-white);
        border-radius: 2em;
        box-shadow:
            0px 0px 20px 0px rgba(0, 0, 0, 0.209),
            0px 0px 20px 0px rgba(255, 255, 255, 0.621);
    }

    .fa-microphone {
        width: 0;
        padding-right: 0.5em;
        transition: 0.4s;
        transition-delay: 0.4s;
    }

    #searchIcon {
        width: 2em;
    }

    #searchBox input {
        width: 0;
        background: transparent;
        font-size: 1em;
        border: 0;
        outline: none;
        transition: 1.5s;
    }

    #searchBox.active input {
        width: 7.5em;
        padding: 0.1em 0.1em;
    } */

    /* COMPONENT STYLING */

    main ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
    }

    main ul li {
        padding: 1rem;
        background-color: var(--blue);
        display: grid;
        border-radius: 1rem;
    }

    main ul li h3 {
        grid-area: 2/1;
    }

    main ul:has(img) li img {
        grid-area: 1/1;
        width: 15rem;
    }

    /* SEARCH */

    /* BLOGS */

    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100vw;
        height: 10vh;
        background-color: var(--blue);
        margin-top: 3rem;
    }
}

@media screen and (width > 31rem) {
    main {
        margin-top: 8em;
    }
}

@media screen and (width < 49rem) {
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--change-black);
        transition: all 0.2s ease-in-out;
    }

    .menu li a {
        padding: 10px;
    }
    .open-menu,
    .close-menu {
        display: block;
    }
    #check:checked ~ .menu {
        right: 0;
    }
}

@media screen and (width > 49rem) {
    header nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        gap: 2em;
        padding-inline-start: 0;
        margin: 0;
    }
}
