/* FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Leckerli+One");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower");
@import url("https://fonts.googleapis.com/css2?family=Itim");
@import url("https://fonts.googleapis.com/css2?family=Short+Stack");
@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");

/* LAYER */
@layer base {
    /* RESETTING */
    *:not(i),
    *:not(i)::after,
    *:not(i):before {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: "Rock Salt", cursive;
        font-family: "Indie Flower", cursive;
        font-family: "Itim", cursive;
        font-family: "Short Stack", cursive;
        font-family: "Shantell Sans", cursive;
    }

    button,
    summary {
        cursor: pointer;
    }
}

/* CUSTOM PROPERTIES */
:root {
    /* colors */
    --white: white;
    --black: #181818;
    --aboutme-h2-color: #f8e4cfcd;
    --aboutme-p-color: black;

    --header-backup-color: #ad4f55b7;
    --body-backup-background: #f7e6ed;
    --blogs-backup-color: #b56565;
    --aboutme-backup-color: #b56565;
    --footer-backup-color: #c67a7fb7;

    --component-h3-color: #ffe3e3;
    --component-p-color: #fff4f8;

    --between-line-color: #4e122d;

    /* linear-gradient */
    --header: linear-gradient(180deg, #4e122dbc 0%, #ad4f55b7 100%);
    --old-home-blogs: linear-gradient(135deg, #d2bced 0%, #8965b5 100%);
    --home-blogs: linear-gradient(135deg, #4e122d 0%, #b56565);
    --home-blogs-hover-state: linear-gradient(120deg, #4e1225 0%, #ad4f55);
    --footer: linear-gradient(180deg, #f7e6ed5b, #c67a7fb7, #964646bc 100%);
    --aboutme-gradient: linear-gradient(135deg, rgb(78, 18, 45) 0%, rgb(203, 121, 121));

    /* radial-gradient */
    --body-background-gradient: radial-gradient(#f74571 0.95px, transparent 0.95px), radial-gradient(#ae3f5b 0.95px, #f7e6ed 0.95px);
    /* box-shadow */
    --shadow: #00000040 0px 54px 55px, #0000001f 0px -12px 30px, #0000001f 0px 4px 6px, #0000002b 0px 12px 13px, #00000017 0px -3px 5px;
    --blog-shadow: #0e1e251f 0px 2px 4px 0px, #0e1e2552 0px 2px 16px 0px;
    --blog-card-shadow: #00000066 0px 2.5px 5px, #0000004d 0px 7.5px 12.5px -2.5px, #00000033 0px -2.5px 0px inset;
    --sidebar-image-shadow: 10px 10px 20px #00000080;
}

@media screen and (width > 1rem) {
    /* GENERAL STYLING */
    body {
        background-color: var(--body-backup-background);
        background-image: var(--body-background-gradient);
        background-size: 40px 40px;
        background-position:
            0 0,
            20px 20px;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        margin: 3rem;
        margin-top: 8rem;
    }

    /* hidden h1 */
    h1 {
        /* https://www.a11yproject.com/posts/how-to-hide-content/ */
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }

    h2 {
        font-family: "Rock Salt", cursive;
    }

    p {
        max-width: 30rem;
    }

    a {
        text-decoration: none;
        cursor: pointer;
        color: var(--white);
    }

    svg {
        fill: var(--component-p-color);
        width: 1.5rem;
        height: auto;
    }

    li {
        list-style: none;
    }

    code {
        font-family: monospace;
        background: var(--black);
        color: var(--white);

        word-wrap: break-word;
        box-decoration-break: clone;
        padding: 0.1rem 0.3rem 0.2rem;
        border-radius: 0.2rem;
    }

    pre code {
        display: block;
        background: none;
        white-space: pre;
        -webkit-overflow-scrolling: touch;
        overflow-x: scroll;
        max-width: 100%;
        min-width: 100px;
        padding: 0;

        background: var(--black);
        color: var(--white);

        word-wrap: break-word;
        box-decoration-break: clone;
        padding: 0.1rem 0.3rem 0.2rem;
        border-radius: 0.5rem;
    }

    .bold {
        font-weight: 900;
    }

    /* NAVBAR */
    header {
        padding: 1em;
        background-color: var(--header-backup-color);
        background: var(--header);
        box-shadow: var(--blog-card-shadow);
        backdrop-filter: blur(10px);
        position: fixed;
        top: 0cm;
        width: 100vw;
        z-index: 100;
    }

    header nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
        /* font-family: "Indie Flower", cursive; */
        /* font-family: "Itim", cursive; */
        /* font-family: "Short Stack", cursive; */
        /* font-family: "Shantell Sans", cursive; */
        font-family: "Rock Salt", cursive;

        color: var(--white);
        font-size: 1.5em;
        font-weight: 900;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2em;
        /* padding-inline-start: 0; */
        margin: 0;
        height: max-content;
    }

    nav ul li {
        padding-inline-start: 0px;
        list-style-type: none;
        padding-left: 0;
        list-style: none;
        cursor: pointer;
    }

    header nav > section {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        position: relative;
        padding: 12px 20px;
    }

    .menu li a {
        display: inline-block;
        color: var(--white);
        text-align: center;
        transition: 0.15s ease-in-out;
        position: relative;
        text-transform: uppercase;
    }

    .menu li a::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background-color: var(--white);
        transition: 0.15s ease-in-out;
    }

    .menu li a:hover:after {
        width: 100%;
    }

    .open-menu,
    .close-menu {
        position: absolute;
        color: var(--white);
        cursor: pointer;
        font-size: 1.5rem;
        display: none;
    }

    .open-menu {
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    .close-menu {
        top: 32px;
        right: 36px;
    }

    #check {
        display: none;
    }

    /* search form */
    /* .search {
        display: flex;
        justify-content: center;
        align-items: center;
    } */

    /* https://codepen.io/cjr85/pen/XWMMXob */
    /* #searchBox {
        display: flex;
        align-items: center;
        padding: 1em;

        background: var(--white);
        border-radius: 2em;
        box-shadow:
            0px 0px 20px 0px #00000035,
            0px 0px 20px 0px #ffffff9e;
    }

    .fa-microphone {
        width: 0;
        padding-right: 0.5em;
        transition: 0.4s;
        transition-delay: 0.4s;
    }

    #searchIcon {
        width: 2em;
    }

    #searchBox input {
        width: 0;
        background: transparent;
        font-size: 1em;
        border: 0;
        outline: none;
        transition: 1.5s;
    }

    #searchBox.active input {
        width: 7.5em;
        padding: 0.1em 0.1em;
    } */

    /* GRID LAYOUT HOME PAGINA */

    .grid-layout {
        display: grid;
        /* grid-template-columns: 1fr 2fr; */
        grid-template-rows: 1fr;
    }

    .between-line {
        width: 70vw;
        height: 5px;
        margin-top: 1rem;
        justify-self: center;
        background-color: var(--between-line-color);
        border-radius: 1rem;
    }

    /* COMPONENT STYLING */
    #blogs h2 {
        padding-top: 1rem;
        padding-bottom: 2rem;

        justify-self: center;
        text-align: center;
    }

    #blogs ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;

        justify-items: stretch;
        align-items: stretch;
    }

    #blogs ul li {
        width: 17rem;
        padding: 1.5rem;
        background-image: var(--blogs-backup-color);
        background-image: var(--old-home-blogs);
        background-image: var(--home-blogs);

        display: grid;
        grid-template-rows: 14rem 3rem 1fr;
        border-radius: 1rem;
        gap: 1rem;
        /* box-shadow: var(--blog-card-shadow); */
    }

    #blogs ul li:hover {
        background-image: var(--home-blogs-hover-state);
        transition: 0.4s;
    }

    #blogs ul li h3 {
        grid-area: 2/1;
        align-self: stretch;
        height: 3rem;
        color: var(--component-h3-color);
    }

    #blogs ul:has(img) li img {
        grid-area: 1/1;
        width: 14rem;
        height: 14rem;
        border-radius: 0.5rem;
        box-shadow: var(--blog-shadow);
    }

    #blogs ul li p {
        grid-row: 3;
        color: var(--component-p-color);
    }

    #blogs ul li h3,
    #blogs ul li p {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    #blogList li {
        cursor: pointer;
    }

    /* Removing words from long paragraphs */
    /* got help from chatGPT */
    ul#blogList li p {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 4em;
        line-height: 1.2em;
    }

    /* SIDEBAR */
    .aboutme-sidebar {
        height: 75vh;
        width: 60vw;
        min-width: 20rem;
        max-width: 30rem;
        padding: 2rem;
        margin-top: 2rem;
        background-color: var(--aboutme-backup-color);
        color: var(--white);
        background: var(--home-blogs);

        display: grid;
        justify-self: center;
        align-self: center;
        border-radius: 1rem;
        gap: 1rem;

        & img {
            top: 20rem;
            width: 80%;
            justify-self: center;
            border-radius: 50%;
            box-shadow: var(--sidebar-image-shadow);
        }

        & .info-weeklynerd {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }

        & .communication {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }
    }

    .links {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        & a {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.75rem;
            background-color: var(--footer-backup-color);
            border-radius: 20rem;
        }
    }

    /* BLOGS INSIDE PAGE*/
    #blog {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        & img {
            /* width: 20vw; */
            height: 50vh;
            border-radius: 1rem;
            box-shadow: var(--blog-shadow);
        }

        & li {
            list-style: inside;
        }

        /* blogHead styling */
        & .blogHead {
            width: 90vw;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            justify-self: center;
            gap: 2rem;
            padding: 3rem 2rem;
            /* padding-top: 3rem;
            padding-bottom: 3rem; */

            background-image: var(--aboutme-gradient);
            border-radius: 2rem;
            box-shadow: var(--blog-card-shadow);

            & img {
                object-fit: cover;
                object-position: center;
                width: 100%;
            }

            & .info-blog {
                display: grid;
                grid-template-columns: max-content 1fr;
                grid-template-rows: 1fr repeat(3, 3rem);
                justify-content: center;
                align-items: center;
                gap: 1rem;

                & h2 {
                    grid-area: 1 / 1 / 2 / 3;
                    justify-self: center;
                    align-self: center;
                    text-align: center;
                    color: var(--component-h3-color);
                }
            }

            .topic-explain {
                text-align: center;
                justify-content: center;
                align-items: center;
                color: var(--component-h3-color);

                & p {
                    max-width: 35rem;
                }
            }
        }

        & .blog-content {
            display: flex;
            flex-direction: column;
            justify-self: center;
            gap: 1rem;

            padding: 1rem;
            max-width: 30rem;
        }

        & .blog-content:has(a) a {
            background-color: var(--aboutme-backup-color);
            padding: 0.1rem 0.3rem;
            border-radius: 0.5rem;
        }

        & .recommended-blogs {
            justify-self: center;
            align-self: flex-start;
            display: flex;
            flex-direction: column;
            align-items: center;

            & > h3 {
                padding-bottom: 1rem;
                color: var(--between-line-color);
                font-family: "Rock Salt", cursive;
                text-align: center;
            }

            & .recommended-list {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: stretch;
                justify-content: stretch;

                gap: 2rem;
                display: flex;
                flex-wrap: nowrap;
                overflow: auto;

                width: 100vw;
                padding: 1rem;

                & li {
                    flex: 0 0 auto;

                    align-self: stretch;
                    align-items: center;
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    /* grid-template-rows: max-content 1fr; */
                    gap: 1rem;
                    padding: 1rem 0.5rem;
                    width: 10rem;
                    background-color: var(--footer-backup-color);
                    border-radius: 1rem;
                    box-shadow: var(--blog-card-shadow);
                    transition: 0.4s;

                    & a {
                        text-align: center;

                        /* grid-area: 2/1; */
                        color: var(--between-line-color);

                        & h4 {
                            color: var(--component-p-color);
                        }
                    }

                    & img {
                        order: -1;
                        width: 5rem;
                        height: auto;
                        /* grid-area: 1/1; */
                    }
                }

                & li:hover {
                    background-color: var(--blogs-backup-color);
                }
            }
        }
    }

    /* ABOUT ME */

    #aboutme {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-top: 9rem;

        .blogHead {
            background-image: var(--aboutme-gradient);

            & h2 {
                color: var(--aboutme-h2-color);
            }
            & p {
                color: var(--aboutme-p-color);
            }
        }
    }

    #aboutme img {
        object-fit: cover;
        object-position: center;
        width: 100%;
    }

    #about {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    /* FOOTER */
    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100vw;
        height: 10vh;
        background-color: var(--footer-backup-color);
        background: var(--footer);
        margin-top: 1rem;
    }
}

@media screen and (width > 40rem) {
    main {
        margin: 3rem;
        margin-top: 8em;
    }

    .grid-layout {
        grid-template-columns: 2fr 5px 5fr;
        grid-template-rows: 1fr;
        gap: 1rem;
    }

    .between-line {
        position: sticky;
        top: 9rem;
        width: 5px;
        height: 75vh;
        margin-top: 0;
        align-self: top;
    }

    /* COMPONENT STYLING */
    #blogs {
        grid-area: 1/3;
    }

    /* SIDEBAR INFO */
    .aboutme-sidebar {
        position: sticky;
        top: 9rem;

        width: 20rem;
        margin-top: 1rem;

        align-self: auto;

        & img {
            width: 90%;
            border-radius: 50%;
        }
    }

    /* ABOUT ME */
    #aboutme {
        margin-top: 9.75rem;
        height: 100%;
    }

    #aboutme #blog .blogHead {
        /* margin-top: 3rem; */
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(4, max-content);
        grid-column-gap: 2rem;
        grid-row-gap: 0;

        & img {
            grid-area: 1 / 1 / 5 / 2;
            height: 50vw;
            max-height: 20rem;
            object-fit: cover;
            object-position: center;
            width: 100%;
        }

        & h2,
        p {
            align-self: center;
        }
    }
}

@media screen and (max-width: 49rem) {
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--black);
        transition: all 0.2s ease-in-out;
    }

    .menu li a {
        padding: 10px;
    }
    .open-menu,
    .close-menu {
        display: block;
    }
    #check:checked ~ .menu {
        right: 0;
    }
}

@media screen and (width > 49rem) {
    header nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        gap: 2em;
        padding-inline-start: 0;
        margin: 0;
    }

    /* BLOGS INSIDE STYLING */
    #blog {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 30rem 1fr;

        & .blogHead {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 3fr 1fr;

            /* flex-direction: row; */
            grid-area: 1 / 1 / 2 / 4;
            width: 80vw;
            max-width: 60rem;

            & img {
                width: 80%;
                height: 30vh;
                max-width: 20rem;
                justify-self: center;
            }

            & .topic-explain {
                grid-area: 2 / 1 / 3 / 3;
                display: flex;
            }
        }

        & .blog-content {
            grid-area: 2 / 1 / 3 / 3;
            align-self: flex-start;
        }
        & .recommended-blogs {
            grid-area: 2 / 3 / 3 / 4;
        }
    }
    #blog .recommended-blogs {
        & .recommended-list {
            flex-direction: column;
            width: max-content;
        }
    }
}
