<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <%- include('../partials/head.ejs') %>
</head>

<body>

  <main class="errorstatus">

    <section class="err">

      <h2>404</h2>
      <p>PAGE NOT FOUND</p>

      <h2>
        <a href="/">BACK TO THE PAST</a>
      </h2>

    </section>



  </main>
</body>

</html>