<%- include('../partials/head.ejs') %>

    <%- include('../partials/header.ejs') %>
        <main id="aboutme">
            <h1>
                <%= title %>
            </h1>

            <section id="blog">

                <div class="blogHead" id="about">
                    <img src="/assets/images/me.jpeg" alt="me">
                    <h2>Who am I?</h2>
                    <p>
                        My name is Sena Nur Korkutan, currently studying Communication and Multimedia Design at AUAS. I am
                        passionate about Frontend Design and Development, and I am currently completing a minor in Web
                        Design and Development to further advance my skills and move closer to becoming a Frontend
                        Designer/Developer.
                    </p>
                    <h2>What is this Weekly Nerd?</h2>
                    <p>
                        Throughout this minor program, we have the unique opportunity to engage with a new individual
                        each week. We hold weekly sessions with speakers from different areas. These speakers share
                        their valuable insights, experiences, and knowledge with us. We keep a record of these insights
                        for future reference. Each talk is unique and interesting, giving us a new view and
                        deeper knowledge of various topics. This constant learning and interaction make every week an
                        enriching experience.
                    </p>

                </div>


            </section>

        </main>

        <%- include('../partials/footer.ejs') %>