<%- include('../partials/head.ejs') %>


    <%- include('../partials/header.ejs') %>

        <main>
            <h1>
                <%= title %>
            </h1>


            <section id="blog">

                <div class="blogHead">
                    <img src="/assets/images/bramus.webp" alt="cssday">
                    <h2>View transition API</h2>

                    <h3 class="bold">Speaker: Bramus van Damme</h3>
                </div>


                <p> </p>


                <h2>COMING SOON...</h2>


            </section>

        </main>

        <%- include ('../partials/footer.ejs') %>