<%- include('../partials/head.ejs') %>


    <%- include('../partials/header.ejs') %>

        <main>
            <h1>
                <%= title %>
            </h1>


            <section id="blog">

                <section class="blogHead">
                    <img src="/assets/images/bramus.webp" alt="cssday">

                    <section class="info-blog">
                        <h2 class="bold">View transition API</h2>
                        <h3 class="bold">Speaker:</h3>
                        <h3>Bramus Van Damme</h3>
                        <h3 class="bold">Date:</h3>
                        <!-- new date -->
                        <h3>14.03.2024</h3>
                        <h3 class="bold">Reach to speaker:</h3>
                        <section class="links">
                            <a href="https://www.linkedin.com/in/bramus/?originalSubdomain=be" target="_blank">
                                <svg viewBox="0 0 512.69 513">
                                    <use xlink:href="/assets/icons/icons.svg#linnkedin-icon"></use>
                                </svg>
                            </a>
                            <a href="https://www.bram.us/" target="_blank">
                                <svg viewBox="0 0 512.69 513">
                                    <use xlink:href="/assets/icons/icons.svg#world-icon"></use>
                                </svg>
                            </a>
                        </section>
                    </section>
                    <section class="topic-explain">
                        <p>
                            Bramus introduced the View Transition API at Pre CSS Day, emphasizing its
                            applications and practical CSS techniques.
                        </p>
                    </section>
                </section>

                <section class="blog-content">
                    <p>
                        During the Pre CSS Day event, developer and lecturer Bramus Bramus presented an enlightening
                        talk about the View
                        Transition API. This powerful tool can significantly enhance the user experience of both
                        single-page and multi-page
                        applications by offering improved control over transitions between states or pages.
                    </p>
                    <p>
                        Bramus began his presentation by introducing the concept of Same Document Transitions, which
                        is particularly
                        beneficial for single-page applications. He explained that this feature allows developers to
                        create fluid and visually
                        appealing transitions within a single document, thus enhancing the user interaction and overall
                        experience. He
                        demonstrated how this feature is currently supported in browsers such as Chrome and Safari, but
                        unfortunately, is not
                        yet available in Firefox.
                    </p>
                    <p>
                        Following this, Bramus moved on to discuss Cross Document Transitions. He explained that this
                        feature pertains to
                        multi-page applications and, like Same Document Transitions, adds a layer of sophistication and
                        fluidity to the user
                        experience. However, he pointed out that, at present, this feature is only supported in the
                        Chrome browser and is yet to
                        be incorporated in Safari and Firefox.
                    </p>
                    <p>
                        To provide a practical understanding of how these transitions work, Bramus shared examples of
                        how to use CSS to
                        control the view transitions. He demonstrated that by using
                        <code>view-transition-name: root;</code> on the <code>:root</code> selector,
                        developers can capture transitions for the whole page. On the other hand, if they wish to
                        capture transitions for only
                        specific elements, they can use <code>view-transition-name: none;</code>.
                    </p>
                    <p>
                        Bramus also touched upon what happens when view transitions are interrupted. He explained
                        that in such scenarios, the
                        transitions skip to the end, immediately displaying the final state without completing the
                        intermediate steps.
                    </p>
                    <p>
                        In conclusion, Bramus Bramus's lecture provided a comprehensive understanding of the View
                        Transition API. He
                        successfully demonstrated its practicality in web development and how it can be leveraged to
                        enhance user experience by
                        enabling smooth and visually appealing transitions. His talk was a testament to the potential of
                        the View Transition API
                        in revolutionizing the way developers design and implement transitions in their web
                        applications.
                    </p>

                </section>


                <section class="recommended-blogs">
                    <h3>Recommended Blogs</h3>
                    <ul class="recommended-list">
                        <li>
                            <a href="/kilian">
                                <h3>Kilian Valkhof</h3>
                                <h4>Polypane</h4>
                            </a>
                            <img src="/assets/images/kilian.png" alt="Photo of Kilian Valkhof">
                        </li>
                        <li>
                            <a href="/jeremy">
                                <h3>Jeremy Keith</h3>
                                <h4>Declarative Design</h4>
                            </a>
                            <img src="/assets/images/jeremy.png" alt="Photo of Jeremy Keith">
                        </li>
                        <li>
                            <a href="/robert">
                                <h3>Robert Spier</h3>
                                <h4>Who are we?</h4>
                            </a>
                            <img src="/assets/images/robert.jpeg" alt="Photo of Robert Spier">
                        </li>
                        <li>
                            <a href="/nils">
                                <h3>Nils Binder</h3>
                                <h4>9elements</h4>
                            </a>
                            <img src="/assets/images/nils.png" alt="Photo of Nils Binder">
                        </li>
                    </ul>
                </section>
            </section>

        </main>

        <%- include ('../partials/footer.ejs') %>