<%- include('../partials/head.ejs') %>


    <%- include('../partials/header.ejs') %>

        <main>
            <h1>
                <%= title %>
            </h1>


            <section id="blog">


                <section class="blogHead">
                    <img src="/assets/images/final-project.png" alt="image of Tumi Mundo">

                    <section class="info-blog">
                        <h2 class="bold">Tumi Mundo</h2>
                        <h3 class="bold">Start date:</h3>
                        <h3></h3>
                        <h3 class="bold">End date:</h3>
                        <h3>20.06.2024</h3>
                        <h3 class="bold">Prototype:</h3>
                        <section class="links">
                            <a href="https://tumimundo.vercel.app/" target="_blank">
                                <svg viewBox="0 0 512.69 513">
                                    <use xlink:href="/assets/icons/icons.svg#world-icon"></use>
                                </svg>
                            </a>
                        </section>
                    </section>
                    <section class="topic-explain">
                        <p>
                            Tumi Mundo is the app my group and I developed as our final project for the Web Design
                            and Development minor.
                        </p>
                    </section>
                </section>

                <section class="blog-content">
                    <h3>✿ Reflect op on project Tumi Mundo ✿</h3>

                    <p>
                        When we first had to choose a project, I thought this project was super fun. Therefore, this
                        project was my first
                        choice. Then at the first interview with the principals, the project seemed quite difficult to
                        me and therefore I became
                        a little anxious. However, my anxiety did not last very long.
                    </p>
                    <p>
                        My group was great! We had a very nice cooperation with each other and even when we encountered
                        problems, we managed to
                        solve the problem by discussing and dividing tasks. Our agreement was to finish everything as
                        much as possible during
                        the week. This way we could rest on the weekend and get back to work the following week with
                        full energy. This worked
                        very well and I was able to enjoy the project more this way. I also saw this with my groupmates
                        and we generally had a
                        very positive atmosphere in the group. Thanks to
                        our working method, we also had time to work on our documentations. Our collaboration and
                        communication went so well
                        that we only experienced one merge conflict as a group.
                    </p>
                    <p>
                        I felt very fortunate to be able to participate in Project Tumi Mundo. I had good communication
                        with my group and the
                        principals. We occasionally had communication problems with FDND and as a result we had to wait
                        longer. This caused us
                        to experience a slight delay.
                    </p>

                    <h3>✿ Reflection on personal learning goals ✿</h3>

                    <p>
                        I was able to work well on my own learning goals during this project.
                    </p>

                    <h4>Develop technical vocabulary</h4>
                    <p>
                        Dit leerdoel vond ik best belangrijk omdat taal voor mij een pijnpunt is. Dit komt ook
                        terug
                        in mijn ander leerdoel
                        “communicatievaardigheden”. Mijn woordenschat in het Nederlands en in het Engels is niet
                        zo
                        groot als in mijn moedertaal
                        Turks. Daarom vind ik het soms lastig om de juiste woorden te vinden, vooral bij sector
                        specifieke termen.
                    </p>

                    <p>
                        Aan dit leerdoel heb ik vaak speciaal aandacht besteed tijdens gesprekken en reviews. Ik
                        heb
                        ook gevraagd aan sommige
                        begeleiders om tips voor het gebruiken van de juiste zoektermen. Ik heb ook veel geleerd
                        van
                        mijn groepsgenoten omdat
                        zij beter Nederlands spreken dan ik.
                    </p>

                    <h4>Improve communication skills</h4>
                    <p>
                        Ik voelde me geaccepteerd binnen de groep en daardoor was het voor mij makkelijker
                        geworden om mijn communicatieskills
                        te verbeteren. Omdat ik niet in Nederland ben geboren en getogen heb ik het qua spreken
                        en schrijven vaak niet zo
                        makkelijk als anderen. Ik heb het gevoel dat dit mij vaak terughoudt en ik kan hierdoor
                        soms gestrest raken.
                    </p>

                    <p>
                        Dit project heeft mij geholpen om deze vaardigheid te verbeteren en als resultaat heb ik
                        nu meer zelfvertrouwen tijdens
                        presentaties en overige gesprekken. Tegelijkertijd vind ik het nu makkelijker om mijn
                        ideeën te uiten en hulp te vragen
                        als het nodig is. Dit verbetert mijn individueel- en samenwerking vermogen. Dit neem ik
                        zeker mee naar toekomstige
                        projecten die ik op de opleiding en later in mijn carriere ga maken.
                    </p>

                    <h4>Become fluent in JavaScript</h4>
                    <p>
                        Bijvoorbeeld voor mijn leerdoel “Javascript onder de knie krijgen” heb ik in week 3 met
                        mijn teamgenoten overlegd om een
                        geschikte taak daarvoor te kiezen. Door aan deze taak te werken kon ik heel goed mijn
                        JavaScript skills verbeteren om
                        mijn leerdoel te bereiken.
                    </p>

                    <p>
                        Javascript is voor mij sinds het begin van de opleiding moeilijk geweest. HTML en CSS
                        kan ik heel goed maar JS heb ik
                        wat minder gebruikt en daarom kon ik het niet zo goed als de andere talen gebruiken.
                        Echter heb ik een grote verbetering
                        getoond tijdens dit project, vooral dankzij de goede taakverdeling binnen onze groep en
                        de begeleiding door mijn
                        docenten en groepsgenoten.
                    </p>

                </section>

                <section class="recommended-blogs">
                    <h3>Recommended Blogs</h3>
                    <ul class="recommended-list">
                        <li>
                            <a href="/kilian">
                                <h3>Kilian Valkhof</h3>
                                <h4>Polypane</h4>
                            </a>
                            <img src="/assets/images/kilian.png" alt="Photo of Kilian Valkhof">
                        </li>
                        <li>
                            <a href="/jeremy">
                                <h3>Jeremy Keith</h3>
                                <h4>Declarative Design</h4>
                            </a>
                            <img src="/assets/images/jeremy.png" alt="Photo of Jeremy Keith">
                        </li>
                        <li>
                            <a href="/robert">
                                <h3>Robert Spier</h3>
                                <h4>Who are we?</h4>
                            </a>
                            <img src="/assets/images/robert.jpeg" alt="Photo of Robert Spier">
                        </li>
                        <li>
                            <a href="/nils">
                                <h3>Nils Binder</h3>
                                <h4>9elements</h4>
                            </a>
                            <img src="/assets/images/nils.png" alt="Photo of Nils Binder">
                        </li>
                    </ul>
                </section>
            </section>

        </main>
        <%- include ('../partials/footer.ejs') %>