<%- include('../partials/head.ejs') %>


    <%- include('../partials/header.ejs') %>

        <main>
            <h1>
                <%= title %>
            </h1>


            <section id="blog">


                <section class="blogHead">
                    <img src="/assets/images/final-project.png" alt="image of Tumi Mundo">

                    <section class="info-blog">
                        <h2 class="bold">Tumi Mundo</h2>
                        <h3 class="bold">Start date:</h3>
                        <h3></h3>
                        <h3 class="bold">End date:</h3>
                        <h3>20.06.2024</h3>
                        <h3 class="bold">Prototype:</h3>
                        <section class="links">
                            <a href="https://tumimundo.vercel.app/" target="_blank">
                                <svg viewBox="0 0 512.69 513">
                                    <use xlink:href="/assets/icons/icons.svg#world-icon"></use>
                                </svg>
                            </a>
                        </section>
                    </section>
                    <section class="topic-explain">
                        <p>
                            Tumi Mundo is the app my group and I developed as our final project for the Web Design
                            and Development minor.
                        </p>
                    </section>
                </section>

                <section class="blog-content">
                    <h3>✿ Reflectie op het project ✿</h3>

                    <p>
                        Toen wij voor het eerst een project moesten kiezen vond ik dit project super leuk. Daarom was
                        dit project mijn eerste
                        keuze. Vervolgens bij het eerste gesprek met de opdrachtgevers leek het project mij best
                        moeilijk en daarom werd ik een
                        beetje angstig. Echter duurde mijn angst niet heel lang.
                    </p>
                    <p>
                        Mijn groep was geweldig! Wij hadden een hele fijne samenwerking met elkaar en ook als wij
                        problemen tegenkwamen was het
                        ons gelukt om het probleem op te lossen door overleggen en taken verdelen. Wij hadden als
                        afspraak om alles zo veel
                        mogelijk doordeweeks af te maken. Op deze manier konden we in het weekend uitrusten en de week
                        daarna weer met volle
                        energie aan de slag gaan. Dit werkte heel goed en ik kon op deze manier meer genieten van het
                        project. Dit heb ik ook
                        gezien bij mijn groepsgenoten en wij hadden over het algemeen een hele positieve sfeer in de
                        groep. Wij hadden dankzij
                        onze werkwijze ook tijd om aan onze documentaties te werken. Onze samenwerking en communicatie
                        ging zo goed dat wij als
                        groep alleen maar één merge conflict hebben meegemaakt.
                    </p>
                    <p>
                        Ik voelde me zeer gelukkig dat ik deel kon nemen aan Project Tumi Mundo. Ik had goede
                        communicatie met mijn groep en de
                        opdrachtgevers. Wij hadden af en toe communicatieproblemen met FDND en daardoor moesten we
                        langer wachten. Dit heeft
                        ervoor gezorgd dat wij een kleine vertraging hebben meegemaakt.
                    </p>

                </section>

                <section class="recommended-blogs">
                    <h3>Recommended Blogs</h3>
                    <ul class="recommended-list">
                        <li>
                            <a href="/kilian">
                                <h3>Kilian Valkhof</h3>
                                <h4>Polypane</h4>
                            </a>
                            <img src="/assets/images/kilian.png" alt="Photo of Kilian Valkhof">
                        </li>
                        <li>
                            <a href="/jeremy">
                                <h3>Jeremy Keith</h3>
                                <h4>Declarative Design</h4>
                            </a>
                            <img src="/assets/images/jeremy.png" alt="Photo of Jeremy Keith">
                        </li>
                        <li>
                            <a href="/robert">
                                <h3>Robert Spier</h3>
                                <h4>Who are we?</h4>
                            </a>
                            <img src="/assets/images/robert.jpeg" alt="Photo of Robert Spier">
                        </li>
                        <li>
                            <a href="/nils">
                                <h3>Nils Binder</h3>
                                <h4>9elements</h4>
                            </a>
                            <img src="/assets/images/nils.png" alt="Photo of Nils Binder">
                        </li>
                    </ul>
                </section>
            </section>

        </main>
        <%- include ('../partials/footer.ejs') %>