<%- include('../partials/head.ejs') %>


    <%- include('../partials/header.ejs') %>

        <main>
            <h1>
                <%= title %>
            </h1>


            <section id="blog">


                <section class="blogHead">
                    <img src="/assets/images/final-project.png" alt="image of Tumi Mundo">

                    <section class="info-blog">
                        <h2 class="bold">Tumi Mundo</h2>
                        <h3 class="bold">Start date:</h3>
                        <h3></h3>
                        <h3 class="bold">End date:</h3>
                        <h3>20.06.2024</h3>
                        <h3 class="bold">Prototype:</h3>
                        <section class="links">
                            <a href="https://tumimundo.vercel.app/" target="_blank">
                                <svg viewBox="0 0 512.69 513">
                                    <use xlink:href="/assets/icons/icons.svg#world-icon"></use>
                                </svg>
                            </a>
                        </section>
                    </section>
                    <section class="topic-explain">
                        <p>
                            Tumi Mundo is the app my group and I developed as our final project for the Web Design
                            and Development minor.
                        </p>
                    </section>
                </section>

                <section class="blog-content">
                    <p>

                    </p>
                </section>

                <section class="recommended-blogs">
                    <h3>Recommended Blogs</h3>
                    <ul class="recommended-list">
                        <li>
                            <a href="/kilian">
                                <h3>Kilian Valkhof</h3>
                                <h4>Polypane</h4>
                            </a>
                            <img src="/assets/images/kilian.png" alt="Photo of Kilian Valkhof">
                        </li>
                        <li>
                            <a href="/jeremy">
                                <h3>Jeremy Keith</h3>
                                <h4>Declarative Design</h4>
                            </a>
                            <img src="/assets/images/jeremy.png" alt="Photo of Jeremy Keith">
                        </li>
                        <li>
                            <a href="/robert">
                                <h3>Robert Spier</h3>
                                <h4>Who are we?</h4>
                            </a>
                            <img src="/assets/images/robert.jpeg" alt="Photo of Robert Spier">
                        </li>
                        <li>
                            <a href="/nils">
                                <h3>Nils Binder</h3>
                                <h4>9elements</h4>
                            </a>
                            <img src="/assets/images/nils.png" alt="Photo of Nils Binder">
                        </li>
                    </ul>
                </section>
            </section>

        </main>
        <%- include ('../partials/footer.ejs') %>