<%- include('../partials/head.ejs') %>


    <%- include('../partials/header.ejs') %>

        <main>
            <h1>
                <%= title %>
            </h1>


            <section id="blog">

                <div class="blogHead">
                    <img src="/assets/images/final-project.png" alt="image of my final project">
                    <h2>Final Project</h2>

                    <h3 class="bold"></h3>
                </div>



            </section>

        </main>
        <%- include ('../partials/footer.ejs') %>