<%- include('../partials/head.ejs') %>

    <%- include('../partials/header.ejs') %>

        <main>
            <h1>
                <%= title %>
            </h1>


            <section id="blog">


                <section class="blogHead">
                    <img src="/assets/images/goals.png" alt="goals">

                    <section class="info-blog">
                        <h2 class="bold">Minor Goals</h2>
                        <h3 class="bold">Start date:</h3>
                        <h3>07.02.2024</h3>
                        <h3 class="bold">End date:</h3>
                        <h3>25.06.2024</h3>
                    </section>
                    <section class="topic-explain">
                        <p>
                            I set my goals for the Web Design and Development minor at AUAS. My goals are outlined
                            in this blog.
                        </p>
                    </section>
                </section>

                <section class="blog-content">

                    <h3>1. Develop technical vocabulary</h3>
                    <p>
                        Improve my ability to use precise programming terminology to efficiently search and find the
                        specific resources and
                        documents I need. I usually struggle with this because I cannot properly articulate or explain
                        the problem I am
                        experiencing. Especially with Google where the answer to many questions can be found, I often
                        struggle with it because I
                        cannot find and use the right words.
                    </p>

                    <h3>2. Improve communication skills</h3>
                    <p>
                        Improve collaboration with teammates and stakeholders through my ability to clearly articulate
                        technical concepts and
                        ideas. This is not only about verbal communication, it is also about written- and other types of
                        communication. When I
                        am in a group, I often hesitate to express my opinion unless someone specifically asks me a
                        question. Giving my opinion
                        is not only good for me, but also for the team, and it gives me the opportunity to exchange
                        ideas with other members of
                        the group. As a Turkish proverb says, the wisdom of two is greater than the wisdom of one.
                    </p>

                    <h3>3. Become fluent in JavaScript</h3>
                    <p>
                        Becoming fluent in JavaScript to write clean and efficient code using control structures. I would
                        like to achieve this
                        by using terms like "if else", "each" or using technologies like framework or library, which are
                        new to me.
                    </p>

                </section>

                <section class="recommended-blogs">
                    <h3>Recommended Blogs</h3>
                    <ul class="recommended-list">
                        <li>
                            <a href="/kilian">
                                <h3>Kilian Valkhof</h3>
                                <h4>Polypane</h4>
                            </a>
                            <img src="/assets/images/kilian.png" alt="Photo of Kilian Valkhof">
                        </li>
                        <li>
                            <a href="/jeremy">
                                <h3>Jeremy Keith</h3>
                                <h4>Declarative Design</h4>
                            </a>
                            <img src="/assets/images/jeremy.png" alt="Photo of Jeremy Keith">
                        </li>
                        <li>
                            <a href="/robert">
                                <h3>Robert Spier</h3>
                                <h4>Who are we?</h4>
                            </a>
                            <img src="/assets/images/robert.jpeg" alt="Photo of Robert Spier">
                        </li>
                        <li>
                            <a href="/nils">
                                <h3>Nils Binder</h3>
                                <h4>9elements</h4>
                            </a>
                            <img src="/assets/images/nils.png" alt="Photo of Nils Binder">
                        </li>
                    </ul>
                </section>
            </section>

        </main>

        <%- include ('../partials/footer.ejs') %>