<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>

    <%- include('../partials/header.ejs') %>

        <main>
            <h1>
                <%= title %>
            </h1>


            <section id="blog">

                <div class="blogHead">
                    <img src="/assets/images/image.png" alt="goals">
                    <h2>My goals</h2>
                </div>
                <br>

                <ol>
                    <li>I want to be more fluent when writing JavaScript</li>
                    <br>
                    <li>I would like to be able to express myself better when we work together and to communicate my
                        thoughts more often</li>
                    <br>
                    <li>I want to be able to build a whole website on my own.</li>
                </ol>
            </section>

        </main>
        <footer>
            <%- include('../partials/footer.ejs') %>
        </footer>
        <script src="/script.js"></script>

</body>

</html>