<%- include('../partials/head.ejs') %>

    <%- include('../partials/header.ejs') %>

        <main>
            <h1>
                <%= title %>
            </h1>


            <section id="blog">


                <section class="blogHead">
                    <img src="/assets/images/goals.png" alt="goals">
                
                    <section class="info-blog">
                        <h2 class="bold">Minor Goals</h2>
                        <h3 class="bold">Start date:</h3>
                        <h3>07.02.2024</h3>
                        <h3 class="bold">End date:</h3>
                        <h3>25.06.2024</h3>
                    </section>
                </section>

                <section class="blog-content">


                    <ol>
                        <li>
                            <strong>Technische woordenschat ontwikkelen:</strong>
                            Mijn vermogen verbeteren om precieze programmeerterminologie te gebruiken om efficiënt te
                            zoeken
                            en de specifieke coderingsbronnen en documentatie te vinden die ik nodig heb.
                        </li>
                        <li>
                            <strong>Communicatievaardigheden verbeteren:</strong>
                            De samenwerking met teamleden en belanghebbenden verbeteren door mijn vermogen om technische
                            concepten en ideeën duidelijk te verwoorden, zowel schriftelijk als mondeling.
                        </li>
                        <li>
                            <strong>JavaScript onder de knie krijgen:</strong>
                            Vloeiend worden in JavaScript om schone en efficiënte code te schrijven met behulp van
                            controlestructuren zoals forEach-lussen, if-statements en andere basisconstructies voor
                            programmeren.
                        </li>
                        <li>
                            <strong>Full Stack Web Development:</strong>
                            De vaardigheden verwerven die nodig zijn om zelfstandig een complete website te bouwen.
                        </li>

                    </ol>
                </section>

                <section class="recommended-blogs">
                    <h3>Recommended Blogs</h3>
                    <ul class="recommended-list">
                        <li>
                            <a href="/kilian">
                                <h3>Kilian Valkhof</h3>
                                <h4>Polypane</h4>
                            </a>
                            <img src="/assets/images/kilian.png" alt="Photo of Kilian Valkhof">
                        </li>
                        <li>
                            <a href="/jeremy">
                                <h3>Jeremy Keith</h3>
                                <h4>Declarative Design</h4>
                            </a>
                            <img src="/assets/images/jeremy.png" alt="Photo of Jeremy Keith">
                        </li>
                        <li>
                            <a href="/robert">
                                <h3>Robert Spier</h3>
                                <h4>Who are we?</h4>
                            </a>
                            <img src="/assets/images/robert.jpeg" alt="Photo of Robert Spier">
                        </li>
                        <li>
                            <a href="/nils">
                                <h3>Nils Binder</h3>
                                <h4>9elements</h4>
                            </a>
                            <img src="/assets/images/nils.png" alt="Photo of Nils Binder">
                        </li>
                    </ul>
                </section>
            </section>

        </main>

        <%- include ('../partials/footer.ejs') %>