<%- include('../partials/head.ejs') %>

    <%- include('../partials/header.ejs') %>

        <main>
            <h1>
                <%= title %>
            </h1>


            <section id="blog">

                <div class="blogHead">
                    <img src="/assets/images/goals.png" alt="goals">
                    <h2>My goals</h2>
                </div>

                <ol>
                    <li>
                        <strong>Technische woordenschat ontwikkelen:</strong>
                        Mijn vermogen verbeteren om precieze programmeerterminologie te gebruiken om efficiënt te zoeken
                        en de specifieke coderingsbronnen en documentatie te vinden die ik nodig heb.
                    </li>
                    <li>
                        <strong>Communicatievaardigheden verbeteren:</strong>
                        De samenwerking met teamleden en belanghebbenden verbeteren door mijn vermogen om technische
                        concepten en ideeën duidelijk te verwoorden, zowel schriftelijk als mondeling.
                    </li>
                    <li>
                        <strong>JavaScript onder de knie krijgen:</strong>
                        Vloeiend worden in JavaScript om schone en efficiënte code te schrijven met behulp van
                        controlestructuren zoals forEach-lussen, if-statements en andere basisconstructies voor
                        programmeren.
                    </li>
                    <li>
                        <strong>Full Stack Web Development:</strong>
                        De vaardigheden verwerven die nodig zijn om zelfstandig een complete website te bouwen.
                    </li>

                </ol>
            </section>

        </main>

        <%- include ('../partials/footer.ejs') %>