<%- include('../partials/head.ejs') %>


    <%- include('../partials/header.ejs') %>

        <main>
            <h1>
                <%= title %>
            </h1>


            <section id="blog">

                <section class="blogHead">
                    <img src="/assets/images/hackathon.png" alt="hackathon">

                    <section class="info-blog">
                        <h2 class="bold">Hackathon Week</h2>
                        <h3 class="bold">Start date:</h3>
                        <!-- new date -->
                        <h3>14.03.2024</h3>
                        <h3 class="bold">End date:</h3>
                        <!-- new date -->
                        <h3>14.03.2024</h3>
                        <h3 class="bold">Prototype:</h3>
                        <section class="links">
                            <a href="https://cssdayta.vercel.app/" target="_blank">
                                <svg viewBox="0 0 512.69 513">
                                    <use xlink:href="/assets/icons/icons.svg#world-icon"></use>
                                </svg>
                            </a>
                        </section>
                    </section>
                    <section class="topic-explain">
                        <p>
                            We were tasked with building a website using data from previous CSS Day events, with
                            freedom to design it as long as it was unique, accessible, and responsive.
                        </p>
                    </section>
                </section>

                <section class="blog-content">
                    <p>
                        This week was the 10th anniversary of CSS day. To celebrate this event, we were asked to build a
                        website that uses the
                        data of the previous CSS day events. We were free to make the website however we wanted as long
                        as it was unique,
                        accessible and responsive.
                    </p>

                    <p>
                        We had 3 days to make a product in teams. The winning group received tickets for this year's CSS Day.
                    </p>
                </section>

                <section class="recommended-blogs">
                    <h3>Recommended Blogs</h3>
                    <ul class="recommended-list">
                        <li>
                            <a href="/kilian">
                                <h3>Kilian Valkhof</h3>
                                <h4>Polypane</h4>
                            </a>
                            <img src="/assets/images/kilian.png" alt="Photo of Kilian Valkhof">
                        </li>
                        <li>
                            <a href="/jeremy">
                                <h3>Jeremy Keith</h3>
                                <h4>Declarative Design</h4>
                            </a>
                            <img src="/assets/images/jeremy.png" alt="Photo of Jeremy Keith">
                        </li>
                        <li>
                            <a href="/robert">
                                <h3>Robert Spier</h3>
                                <h4>Who are we?</h4>
                            </a>
                            <img src="/assets/images/robert.jpeg" alt="Photo of Robert Spier">
                        </li>
                        <li>
                            <a href="/nils">
                                <h3>Nils Binder</h3>
                                <h4>9elements</h4>
                            </a>
                            <img src="/assets/images/nils.png" alt="Photo of Nils Binder">
                        </li>
                    </ul>
                </section>
            </section>

        </main>

        <%- include ('../partials/footer.ejs') %>