<%- include('../partials/head.ejs') %>


    <%- include('../partials/header.ejs') %>

        <main>
            <h1>
                <%= title %>
            </h1>


            <section id="blog">

                <section class="blogHead">
                    <img src="/assets/images/hackathon.png" alt="hackathon">

                    <section class="info-blog">
                        <h2 class="bold">Hackathon Week</h2>
                        <h3 class="bold">Start date:</h3>
                        <h3>21.03.2024</h3>
                        <h3 class="bold">End date:</h3>
                        <h3>25.03.2024</h3>
                        <h3 class="bold">Prototype:</h3>
                        <section class="links">
                            <a href="https://cssdayta.vercel.app/" target="_blank">
                                <svg viewBox="0 0 512.69 513">
                                    <use xlink:href="/assets/icons/icons.svg#world-icon"></use>
                                </svg>
                            </a>
                        </section>
                    </section>
                    <section class="topic-explain">
                        <p>
                            We were tasked with building a website using data from previous CSS Day events, with
                            freedom to design it as long as it was unique, accessible, and responsive.
                        </p>
                    </section>
                </section>

                <section class="blog-content">
                    <p>
                        This week was the 10th anniversary of CSS day. To celebrate this event, we were asked to build a
                        website that uses the
                        data of the previous CSS day events. On Monday, we were introduced to Krijn Hoetmer, the
                        organizer of CSS Day, a well-known event in the web development
                        community that features speakers discussing the latest CSS advancements. We were free to make
                        the website however we wanted as long
                        as it was unique,
                        accessible and responsive.
                    </p>

                    <h3>Concept</h3>


                    <p>
                        I teamed up with my classmates: Elaine Wilberforce, Brianne de Deugd and Rose Mulazada. We began
                        by examining the database
                        and identified a few key elements:
                    </p>

                    <ul>
                        <li>The color scheme assigned to each year,</li>
                        <li>Attendees</li>
                        <li>Number of attendees each year,</li>
                        <li>Attendees' countries of origin,</li>

                    </ul>
                    <p>
                        Rose and Brianne recalled their minor in Information Design, where they learned Svelte and D3
                        for data
                        visualizations. They also
                        mentioned a project by a fellow student who used Mapbox GL to create a 3D interactive globe.
                        Inspired by this, we
                        decided to focus on visualizing the volume of attendees and their countries of origin over the
                        years on the globe.
                    </p>

                    <h3>Process</h3>
                    <p>
                        Elaine and I had no experience with SvelteKit or MapBox. So Elaine and I worked mostly on the
                        concept and in the
                        meantime we started to learn Svelte through a course because we didn't know how to use Svelte.
                    </p>
                    <p>
                        Meanwhile Brianne and Rose were working on how to download mapbox so we could see the colors on
                        the map.
                    </p>

                    <p>
                        Almost everything was coming to an end, but there was a problem with sending the data and we got
                        help from FDND to solve
                        this problem. After many hours we found a solution.
                    </p>

                    <h3>Reflection</h3>
                    <p>
                        To be honest, it was a little difficult for me because I used things I didn't know at all. But
                        it was fun to overcome
                        the difficulties and learn new things together with my group friends.
                    </p>


                </section>

                <section class="recommended-blogs">
                    <h3>Recommended Blogs</h3>
                    <ul class="recommended-list">
                        <li>
                            <a href="/kilian">
                                <h3>Kilian Valkhof</h3>
                                <h4>Polypane</h4>
                            </a>
                            <img src="/assets/images/kilian.png" alt="Photo of Kilian Valkhof">
                        </li>
                        <li>
                            <a href="/jeremy">
                                <h3>Jeremy Keith</h3>
                                <h4>Declarative Design</h4>
                            </a>
                            <img src="/assets/images/jeremy.png" alt="Photo of Jeremy Keith">
                        </li>
                        <li>
                            <a href="/robert">
                                <h3>Robert Spier</h3>
                                <h4>Who are we?</h4>
                            </a>
                            <img src="/assets/images/robert.jpeg" alt="Photo of Robert Spier">
                        </li>
                        <li>
                            <a href="/nils">
                                <h3>Nils Binder</h3>
                                <h4>9elements</h4>
                            </a>
                            <img src="/assets/images/nils.png" alt="Photo of Nils Binder">
                        </li>
                    </ul>
                </section>
            </section>

        </main>

        <%- include ('../partials/footer.ejs') %>