<%- include('../partials/head.ejs') %>

    <%- include('../partials/header.ejs') %>


        <main>
            <h1>
                <%= title %>
            </h1>

            <h2>Weekly Nerd Blogs</h2>
            <section id="blogs">
                <ul id="blogList">
                    <li>
                        <a href="/kilian">
                            <h3>Kilian Valkhof</h3>
                        </a>
                        <img src="/assets/images/kilian.png" alt="kilian">
                        <p>short info</p>
                    </li>
                    <li>
                        <a href="/fenna">
                            <h3>Fenna de Wilde</h3>
                        </a>
                        <img src="/assets/images/fenna.png" alt="fenna">
                        <p>short info</p>
                    </li>
                    <li>
                        <a href="/jeffrey">
                            <h3>Jeffrey Arts</h3>
                        </a>
                        <img src="/assets/images/jeffrey.png" alt="jeffrey">
                        <p>short info</p>
                    </li>
                    <li>
                        <a href="/nils">
                            <h3>Nils Binder</h3>
                        </a>
                        <img src="/assets/images/nils.png" alt="nils">
                        <p>short info</p>
                    </li>
                    <li>
                        <a href="/jeremy">
                            <h3>Jeremy Keith</h3>
                        </a>
                        <img src="/assets/images/jeremy.png" alt="jeremy">
                        <p>short info</p>
                    </li>
                    <li>
                        <a href="/hackathon">
                            <h3>Hackathon</h3>
                        </a>
                        <img src="/assets/images/hackathon.png" alt="hackathon project image">
                        <p>short info</p>
                    </li>
                    <li>
                        <a href="/marieke">
                            <h3>Marieke de Hoop</h3>
                            <h3>Pim Teeuwisse</h3>
                        </a>
                        <img src="/assets/images/digital.png" alt="digitaal toegankelijk logo">
                        <p>short info</p>
                    </li>
                    <li>
                        <a href="/rosa">
                            <h3>Rosa Schuurman</h3>
                        </a>
                        <img src="/assets/images/rosa.png" alt="rosa">
                        <p>short info</p>
                    </li>

                    <li>
                        <a href="/goals">
                            <h3>My Goals</h3>
                        </a>
                        <img src="/assets/images/goals.png" alt="goals">
                        <p>short info</p>
                    </li>

                </ul>
            </section>


        </main>



        <%- include ('../partials/footer.ejs') %>