<%- include('../partials/head.ejs') %>

    <%- include('../partials/header.ejs') %>


        <main>
            <h1>
                <%= title %>
            </h1>

            <section class="grid-layout">
                <section class="aboutme-sidebar">

                    <img src="/assets/images/me.png" alt="This is me">
                    <section class="info-weeklynerd">
                        <p>Hey there :)</p>
                        <p>
                            I'm Sena Nur, and this is where I log my weekly discoveries from the world of web
                            design and development. Join me as I share insights from inspiring speakers and my own
                            journey
                            in this exciting field.
                        </p>
                    </section>
                    <section class="communication">
                        <p>Want to get to know me better?</p>
                        <section class="links">
                            <a href="https://www.linkedin.com/in/sena-nur-k-50169721a/" target="_blank">
                                <svg viewBox="0 0 512.69 513">
                                    <use xlink:href="/assets/icons/icons.svg#linnkedin-icon"></use>
                                </svg>
                            </a>

                            <a href="https://github.com/Sensinki" target="_blank">
                                <svg viewBox="0 0 512.69 513">
                                    <use xlink:href="/assets/icons/icons.svg#github-icon"></use>
                                </svg>
                            </a>

                            <a href="https://discord.com/users/933739295125160007" target="_blank">
                                <svg viewBox="0 0 512.69 513">
                                    <use xlink:href="/assets/icons/icons.svg#discord-icon"></use>
                                </svg>
                            </a>

                            <a href="mailto:snnrkrk1@gmail.com" target="_blank">
                                <svg viewBox="0 0 512.69 513">
                                    <use xlink:href="/assets/icons/icons.svg#email-icon"></use>
                                </svg>
                            </a>
                        </section>
                    </section>

                </section>
                <div class="between-line">
                </div>
                <section id="blogs">
                    <h2>Weekly Nerd Blogs</h2>

                    <ul id="blogList">
                        <li>
                            <a href="/kilian">
                                <h3>Kilian Valkhof</h3>
                            </a>
                            <img src="/assets/images/kilian.png" alt="Photo of Kilian Valkhof">
                            <p>
                                Killian discussed prioritizing HTML and CSS over JavaScript, focusing on accessibility,
                                smooth scrolling, and container queries for responsive design.
                            </p>
                        </li>
                        <li>
                            <a href="/fenna">
                                <h3>Fenna de Wilde</h3>
                            </a>
                            <img src="/assets/images/fenna.png" alt="Photo of Fenna de Wilde">
                            <p>
                                Fenna emphasized web accessibility, highlighting her work at Bakken & Bæck and
                                discussing ARIA attributes along with general accessibility rules.
                            </p>
                        </li>
                        <li>
                            <a href="/jeffrey">
                                <h3>Jeffrey Arts</h3>
                            </a>
                            <img src="/assets/images/jeffrey.png" alt="Photo of Jeffrey Arts">
                            <p>
                                Jeffrey is a front-end developer and artist who prioritizes creativity in his work.
                                He creates tools and websites with animations and 3D elements.
                            </p>
                        </li>
                        <li>
                            <a href="/nils">
                                <h3>Nils Binder</h3>
                            </a>
                            <img src="/assets/images/nils.png" alt="Photo of Nils Binder">
                            <p>
                                Nils, a front-end designer at 9elements, specializes in web development and
                                communication design, promoting use of design units like px, %, and rem.
                            </p>
                        </li>
                        <li>
                            <a href="/jeremy">
                                <h3>Jeremy Keith</h3>
                            </a>
                            <img src="/assets/images/jeremy.png" alt="Photo of Jeremy Keith">
                            <p>
                                Jeremy compares music to programming: imperative (classical, step-by-step) versus
                                declarative (jazz, forgiving), emphasizing JavaScript's unique control capabilities.
                            </p>
                        </li>
                        <li>
                            <a href="/hackathon">
                                <h3>Hackathon</h3>
                            </a>
                            <img src="/assets/images/hackathon.png" alt="hackathon project image">
                            <p>
                                We were tasked with building a website using data from previous CSS Day events, with
                                freedom to design it as long as it was unique, accessible, and responsive.
                            </p>
                        </li>
                        <li>
                            <a href="/marieke">
                                <h3>Marieke de Hoop and Pim Teeuwisse</h3>
                            </a>
                            <img src="/assets/images/digital.png" alt="Logo of digitaal toegankelijk">
                            <p>
                                Marieke and Pim emphasized inclusive digital design, focusing on WCAG principles:
                                content must be perceivable, operable, understandable, and robust.
                            </p>
                        </li>
                        <li>
                            <a href="/rosa">
                                <h3>Rosa Schuurman</h3>
                            </a>
                            <img src="/assets/images/rosa.png" alt="Photo of Rosa Schuurman">
                            <p>
                                Rosa, a creative developer and former CMD student, specializes in UX design and
                                development, with a passion for "circuit bending" and sound systems.
                            </p>
                        </li>
                        <li>
                            <a href="/robert">
                                <h3>Robert Spier</h3>
                            </a>
                            <img src="/assets/images/robert.jpeg" alt="Photo of Robert Spier">
                            <p>
                                Robert, a CMD alum and Blok Tech coordinator, emphasized mastering fundamentals,
                                exploring freelancing and traineeships, and prioritizing continuous learning and
                                networking.
                            </p>
                        </li>

                        <li>
                            <a href="/q42">
                                <h3>Q42 Digital Product Studio</h3>
                            </a>
                            <img src="/assets/images/q42.png" alt="Logo of Q42">
                            <p>
                                Q42, a company founded in 2000, focuses on creating innovative products for
                                accessibility and user experience. They work with top clients, prioritize user testing,
                                and innovate in technology.
                            </p>
                        </li>
                        <li>
                            <a href="/marit">
                                <h3>Danny Lammerhirt & Marit Hoefsloot</h3>
                            </a>
                            <img src="/assets/images/marit.jpeg" alt="Photo of Waag Futurelab">
                            <p>
                                Danny and Marit from Waag Futurelab made us question our perception of technology. They
                                talked beyond mobile apps and encouraged us to think about the deeper layers that power
                                our devices.
                            </p>
                        </li>
                        <li>
                            <a href="/bramus">
                                <h3>Bramus van Damme</h3>
                            </a>
                            <img src="/assets/images/bramus.webp" alt="Photo of Bramus van Damme">
                            <p>
                                Bramus introduced the View Transition API at Pre CSS Day, emphasizing its
                                applications and practical CSS techniques.
                            </p>
                        </li>
                        <li>
                            <a href="/miriam">
                                <h3>Miriam Suzanne</h3>
                            </a>
                            <img src="/assets/images/miriam.jpeg" alt="Photo of Miriam Suzanne">
                            <p>
                                Miriam discussed CSS containers, focusing on their functionality and complexities. She
                                explained that containers inherently possess knowledge but navigating their behavior can
                                be challenging.
                            </p>
                        </li>




                        <li>
                            <a href="/goals">
                                <h3>My Goals</h3>
                            </a>
                            <img src="/assets/images/goals.png" alt="goals">
                            <p>
                                I set my goals for the Web Design and Development minor at AUAS. My goals are outlined
                                in this blog.
                            </p>
                        </li>


                    </ul>
                </section>
            </section>


        </main>



        <%- include ('../partials/footer.ejs') %>