<%- include('../partials/head.ejs') %>


    <%- include('../partials/header.ejs') %>

        <main>
            <h1>
                <%= title %>
            </h1>


            <section id="blog">

                <section class="blogHead">
                    <img src="/assets/images/jeffrey.png" alt="jeffrey">
                
                    <section class="info-blog">
                        <h2 class="bold">Digital Art</h2>
                        <h3 class="bold">Speaker:</h3>
                        <h3>Jeffrey Arts</h3>
                        <h3 class="bold">Date:</h3>
                        <h3>14.03.2024</h3>
                        <h3 class="bold">Reach to speaker:</h3>
                        <section class="links">
                            <a href="https://www.jeffreyarts.nl/" target="_blank">
                                <svg viewBox="0 0 512.69 513">
                                    <use xlink:href="/assets/icons/icons.svg#world-icon"></use>
                                </svg>
                            </a>
                            <a href="mailto: contact@jeffreyarts.nl" target="_blank">
                                <svg viewBox="0 0 512.69 513">
                                    <use xlink:href="/assets/icons/icons.svg#email-icon"></use>
                                </svg>
                            </a>
                        </section>
                    </section>
                </section>

                <section class="blog-content">
                    <p>
                        Jeffrey is a front-end developer and an artist. He has a few front-end formulas such as:
                    </p>
                    <ul>
                        <li>
                            Development = Creation + Creativity
                        </li>
                        <li>
                            Development = Efficiency / Costs
                        </li>
                    </ul>

                    <p>
                        Jeffrey focuses on the web development ecosystem and the use of JavaScript for backend
                        development
                        via Node.js. Jeffrey
                        has also developed various tools and websites that he uses in his workflow, including a Git
                        toolbox,
                        a 3D website, and a
                        platform for animations.
                    </p>

                    <p>
                        Jeffrey shared a library for making animations. I really like this library and I’d like to use
                        it in
                        the future. Here’s
                        a link to the animations that Jeffrey made himself: <a
                            href="https://www.jeffreyarts.nl/diversity">The website</a>
                    </p>

                    <p>
                        Librairie om animaties te maken.
                        <a href="https://gsap.com/">gsap.com</a>

                    </p>

                    <h2>COMING SOON...</h2>

                </section>


                <section class="recommended-blogs">
                    <h3>Recommended Blogs</h3>
                    <ul class="recommended-list">
                        <li>
                            <a href="/kilian">
                                <h3>Kilian Valkhof</h3>
                                <h4>Polypane</h4>
                            </a>
                            <img src="/assets/images/kilian.png" alt="Photo of Kilian Valkhof">
                        </li>
                        <li>
                            <a href="/jeremy">
                                <h3>Jeremy Keith</h3>
                                <h4>Declarative Design</h4>
                            </a>
                            <img src="/assets/images/jeremy.png" alt="Photo of Jeremy Keith">
                        </li>
                        <li>
                            <a href="/robert">
                                <h3>Robert Spier</h3>
                                <h4>Who are we?</h4>
                            </a>
                            <img src="/assets/images/robert.jpeg" alt="Photo of Robert Spier">
                        </li>
                        <li>
                            <a href="/nils">
                                <h3>Nils Binder</h3>
                                <h4>9elements</h4>
                            </a>
                            <img src="/assets/images/nils.png" alt="Photo of Nils Binder">
                        </li>
                    </ul>
                </section>
            </section>

        </main>

        <%- include ('../partials/footer.ejs') %>