<%- include('../partials/head.ejs') %>


    <%- include('../partials/header.ejs') %>

        <main>
            <h1>
                <%= title %>
            </h1>


            <section id="blog">

                <section class="blogHead">
                    <img src="/assets/images/jeffrey.png" alt="jeffrey">

                    <section class="info-blog">
                        <h2 class="bold">Digital Art</h2>
                        <h3 class="bold">Speaker:</h3>
                        <h3>Jeffrey Arts</h3>
                        <h3 class="bold">Date:</h3>
                        <h3>28.02.2024</h3>
                        <h3 class="bold">Reach to speaker:</h3>
                        <section class="links">
                            <a href="https://www.jeffreyarts.nl/" target="_blank">
                                <svg viewBox="0 0 512.69 513">
                                    <use xlink:href="/assets/icons/icons.svg#world-icon"></use>
                                </svg>
                            </a>
                            <a href="mailto: contact@jeffreyarts.nl" target="_blank">
                                <svg viewBox="0 0 512.69 513">
                                    <use xlink:href="/assets/icons/icons.svg#email-icon"></use>
                                </svg>
                            </a>
                        </section>
                    </section>
                    <section class="topic-explain">
                        <p>
                            Jeffrey is a front-end developer and artist who prioritizes creativity in his work.
                            He creates tools and websites with animations and 3D elements.
                        </p>
                    </section>
                </section>

                <section class="blog-content">
                    <p>
                        Jeffrey is a front-end developer and an artist. He combines artistic and technical skills in web
                        development. He has a
                        few front-end formulas such as:
                    </p>
                    <ul>
                        <li>
                            Development = Creation + Creativity
                        </li>
                        <li>
                            Development = Efficiency / Costs
                        </li>
                    </ul>

                    <p>
                        Jeffrey focuses on the web development ecosystem and the use of JavaScript for backend
                        development via Node.js. Jeffrey
                        has also developed various tools and websites that he uses in his workflow, including a Git
                        toolbox, a 3D website, and a
                        platform for animations.
                    </p>
                    <p>
                        Jeffrey shared a library for making animations. I really like this library and I’d like to use
                        it in the future. Here’s
                        a link to the animations that Jeffrey made himself:
                        <a href="https://www.jeffreyarts.nl/diversity">https://www.jeffreyarts.nl/diversity</a>
                    </p>
                    <p>
                        Jeffrey values efficiency, stability and consistency in his workflow. He likes to use a lot of
                        tools to make his
                        workflow more efficient.
                    </p>

                    <p>
                        He also believes that failure should be a source of inspiration and it should never be an
                        obstacle in reaching new
                        heights. His motto is try -> succeed/reflect/fail -> new truth. You should always learn lessons
                        and make adjustments
                        based on the results of your attempts.
                    </p>

                    <p>
                        Jeffrey tells us to use the same core technologies while adding things on top to optimize the
                        workflow and work more
                        consistently. For example he created his own command to deploy his sites quickly via the
                        terminal. This speeds up his
                        process and allows him to use various other tools to actually create different things.
                    </p>

                    <p>
                        I am someone who values efficiency in my projects, even though I am not so good at it yet
                        myself. So Jeffrey’s lecture
                        was inspiring for me because I would like to use methods like Jeffrey’s to work more
                        efficiently, which will help me
                        focus on the actual creative process instead of spending time on repetition.
                    </p>



                    <p>
                        Librairie om animaties te maken die hij adviseert:
                        <a href="https://gsap.com/">gsap.com</a>
                    </p>

                </section>


                <section class="recommended-blogs">
                    <h3>Recommended Blogs</h3>
                    <ul class="recommended-list">
                        <li>
                            <a href="/kilian">
                                <h3>Kilian Valkhof</h3>
                                <h4>Polypane</h4>
                            </a>
                            <img src="/assets/images/kilian.png" alt="Photo of Kilian Valkhof">
                        </li>
                        <li>
                            <a href="/jeremy">
                                <h3>Jeremy Keith</h3>
                                <h4>Declarative Design</h4>
                            </a>
                            <img src="/assets/images/jeremy.png" alt="Photo of Jeremy Keith">
                        </li>
                        <li>
                            <a href="/robert">
                                <h3>Robert Spier</h3>
                                <h4>Who are we?</h4>
                            </a>
                            <img src="/assets/images/robert.jpeg" alt="Photo of Robert Spier">
                        </li>
                        <li>
                            <a href="/nils">
                                <h3>Nils Binder</h3>
                                <h4>9elements</h4>
                            </a>
                            <img src="/assets/images/nils.png" alt="Photo of Nils Binder">
                        </li>
                    </ul>
                </section>
            </section>

        </main>

        <%- include ('../partials/footer.ejs') %>