<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>

    <%- include('../partials/header.ejs') %>

        <main>
            <h1>
                <%= title %>
            </h1>


            <section id="blog">

                <div class="blogHead">
                    <img src="/assets/images/jeffrey.png" alt="jeffrey">
                    <h2>Digital Art</h2>
                    <br>
                    <h3 class="bold">Speaker: Jeffrey Arts</h3>
                </div>
                <br>

                <p>
                    Jeffrey is a front-end developer and an artist. He has a few front-end formulas such as:
                </p>
                <ul>
                    <li>
                        Development = Creation + Creativity
                    </li>
                    <li>
                        Development = Efficiency / Costs
                    </li>
                </ul>
                <br>
                <p>
                    Jeffrey focuses on the web development ecosystem and the use of JavaScript for backend development
                    via Node.js. Jeffrey
                    has also developed various tools and websites that he uses in his workflow, including a Git toolbox,
                    a 3D website, and a
                    platform for animations.
                </p>
                <br>
                <p>
                    Jeffrey shared a library for making animations. I really like this library and I’d like to use it in
                    the future. Here’s
                    a link to the animations that Jeffrey made himself: <a
                        href="https://www.jeffreyarts.nl/diversity">The website</a>
                </p>
                <br>
                <p>
                    Librairie om animaties te maken.
                    <a href="https://gsap.com/">gsap.com</a>

                </p>
                <br>
                <h2>COMING SOON...</h2>


            </section>

        </main>
        <footer>
            <%- include('../partials/footer.ejs') %>
        </footer>
        <script src="/script.js"></script>

</body>

</html>