<%- include('../partials/head.ejs') %>


    <%- include('../partials/header.ejs') %>

        <main>
            <h1>
                <%= title %>
            </h1>


            <section id="blog">



                <section class="blogHead">
                    <img src="/assets/images/jeremy.png" alt="jeremy">

                    <section class="info-blog">
                        <h2 class="bold">Declarative Design</h2>
                        <h3 class="bold">Speaker:</h3>
                        <h3>Jeremy Keith</h3>
                        <h3 class="bold">Date:</h3>
                        <h3>14.03.2024</h3>
                        <h3 class="bold">Reach to speaker:</h3>
                        <section class="links">
                            <a href="https://www.linkedin.com/in/adactio/?original_referer=https%3A%2F%2Fwww%2Egoogle%2Ecom%2F&originalSubdomain=uk"
                                target="_blank">
                                <svg viewBox="0 0 512.69 513">
                                    <use xlink:href="/assets/icons/icons.svg#linnkedin-icon"></use>
                                </svg>
                            </a>
                            <a href="https://adactio.com/" target="_blank">
                                <svg viewBox="0 0 512.69 513">
                                    <use xlink:href="/assets/icons/icons.svg#world-icon"></use>
                                </svg>
                            </a>
                            <a href="mailto:jeremy@adactio.com" target="_blank">
                                <svg viewBox="0 0 512.69 513">
                                    <use xlink:href="/assets/icons/icons.svg#email-icon"></use>
                                </svg>
                            </a>
                        </section>
                    </section>
                    <section class="topic-explain">
                        <p>
                            Jeremy compares music to programming: imperative (classical, step-by-step) versus
                            declarative (jazz, forgiving), emphasizing JavaScript's unique control capabilities.
                        </p>
                    </section>
                </section>


                <section class="blog-content">
                    <p>
                        Jeremy compares classical music and jazz music to explain the differences between imperative and
                        declarative
                        programming. He talked about the importance of having the right mindset in programming and using
                        programming language to
                        create various things.

                    </p>

                    <p>
                        Methods of music compositions are like coding:
                    </p>
                    <ul>
                        <li>
                            <b>Imperative programming:</b>
                            Similar to classical music, structured, you give it instructions step-by-step. Example:
                            Mozart
                        </li>
                        <li>
                            <b>Declarative programming:</b>
                            Similar to Jazz music, forgiving
                        </li>
                    </ul>


                    <p>
                        HTML and CSS are declarative languages while JavaScript is an imperative language.
                    </p>

                    <p>
                        In imperative programming developers have a lot of control in the program but this means they
                        also have to avoid errors
                        to prevent crashes. For example JavaScript’s imperative style gives developers a lot of power,
                        but mistakes can disturb
                        the user experience.
                    </p>

                    <p>
                        Declarative programming changes how developers think about control. For example instead of
                        creating a button with a div
                        and JavaScript, using HTML’s button element uses the built-in browser features and error
                        handling. This way you don’t
                        need the extra JavaScript. As Jeremy says, "JavaScript should only do what JavaScript can do."
                    </p>

                    <p>
                        CSS supports this as well with units like rem and vw that help responsive design. Rem is based
                        on the font size and it
                        helps create flexible designs that adapt to user settings. This way, developers work with the
                        browser instead of
                        controlling every detail.
                    </p>


                    <q class="bold">Javascript should only do what only javascript can do!</q>

                    <p>
                        Why do people do that? (example: creating a button with js)

                    </p>

                    <p>
                        HTML -
                        Declarative language
                    </p>
                    <p>
                        CSS -
                        Declarative language
                    </p>
                    <p>
                        JavaScript -
                        Imperative language
                    </p>
                </section>

                <section class="recommended-blogs">
                    <h3>Recommended Blogs</h3>
                    <ul class="recommended-list">
                        <li>
                            <a href="/kilian">
                                <h3>Kilian Valkhof</h3>
                                <h4>Polypane</h4>
                            </a>
                            <img src="/assets/images/kilian.png" alt="Photo of Kilian Valkhof">
                        </li>
                        <li>
                            <a href="/jeremy">
                                <h3>Jeremy Keith</h3>
                                <h4>Declarative Design</h4>
                            </a>
                            <img src="/assets/images/jeremy.png" alt="Photo of Jeremy Keith">
                        </li>
                        <li>
                            <a href="/robert">
                                <h3>Robert Spier</h3>
                                <h4>Who are we?</h4>
                            </a>
                            <img src="/assets/images/robert.jpeg" alt="Photo of Robert Spier">
                        </li>
                        <li>
                            <a href="/nils">
                                <h3>Nils Binder</h3>
                                <h4>9elements</h4>
                            </a>
                            <img src="/assets/images/nils.png" alt="Photo of Nils Binder">
                        </li>
                    </ul>
                </section>
            </section>

        </main>

        <%- include ('../partials/footer.ejs') %>