<%- include('../partials/head.ejs') %>


    <%- include('../partials/header.ejs') %>

        <main>
            <h1>
                <%= title %>
            </h1>


            <section id="blog">

                <div class="blogHead">
                    <img src="/assets/images/jeremy.png" alt="jeremy">
                    <h2>Declarative Design</h2>
                    
                    <h3 class="bold">Speaker: Jeremy Keith</h3>
                </div>
                

                <p>
                    Jeremy compares classical music and jazz music to explain the differences between imperative and
                    declarative
                    programming. He talked about the importance of having the right mindset in programming and using
                    programming language to
                    create various things.
                </p>
                
                <p>
                    Methods of music compositions are like coding:
                </p>
                <ul>
                    <li>
                        <b>Imperative programming:</b>
                        Similar to classical music, structured, you give it instructions step-by-step. Example: Mozart
                    </li>
                    <li>
                        <b>Declarative programming:</b>
                        Similar to Jazz music, forgiving
                    </li>
                </ul>

                
                <p>
                    HTML and CSS are declarative languages while JavaScript is an imperative language.
                </p>
                
                <q>“Javascript should only do what only javascript can do!”</q>
                
                <p>
                    Why do people do that?
                    (example: creating a button with js)
                    It is mostly about control
                </p>
                
                <p>
                    HTML -
                    Declarative language
                </p>
                <p>
                    CSS -
                    Declarative language
                </p>
                <p>
                    JavaScript -
                    Imperative language
                </p>

            </section>

        </main>

        <%- include ('../partials/footer.ejs') %>