<%- include('../partials/head.ejs') %>

    <%- include('../partials/header.ejs') %>

        <main>
            <h1>
                <%= title %>
            </h1>


            <section id="blog">


                <section class="blogHead">
                    <img src="/assets/images/kilian.png" alt="kilian">

                    <section class="info-blog">
                        <h2 class="bold">Polypane</h2>
                        <h3 class="bold">Speaker:</h3>
                        <h3>Kilian Valkhof</h3>
                        <h3 class="bold">Date:</h3>
                        <!-- new date should come -->
                        <h3>07.02.2024</h3>
                        <h3 class="bold">Reach to speaker:</h3>
                        <section class="links">
                            <a href="https://www.linkedin.com/in/kilianvalkhof/?originalSubdomain=nl" target="_blank">
                                <svg viewBox="0 0 512.69 513">
                                    <use xlink:href="/assets/icons/icons.svg#linnkedin-icon"></use>
                                </svg>
                            </a>
                            <a href="https://kilianvalkhof.com/" target="_blank">
                                <svg viewBox="0 0 512.69 513">
                                    <use xlink:href="/assets/icons/icons.svg#world-icon"></use>
                                </svg>
                            </a>
                        </section>
                    </section>
                    <section class="topic-explain">
                        <p>
                            Killian discussed prioritizing HTML and CSS over JavaScript, focusing on accessibility,
                            smooth scrolling, and container queries for responsive design.
                        </p>
                    </section>
                </section>

                <section class="blog-content">
                    <p>Kilian’s most prominent subject was how we need less and less Javascript and more HTML and CSS,
                        which
                        he calls “the rule
                        of least power”. This means that you need to use the programming language with the least power,
                        but
                        enough to get the
                        job done for your goal.
                    </p>

                    <p>So for a normal webpage you’d first use HTML, then CSS and JS as last resort. CSS is faster for
                        the
                        user and easier on
                        your browser, so you should try to use it before JS as much as possible.
                    </p>

                    <p>
                        If you're planning to build something in the coming years that you've built before and want to
                        reuse, first check if
                        there's a better way to build it than what you had before. Browser functions are advancing very
                        quickly, and there might
                        be a potential browser solution ready that you previously built with JavaScript.
                    </p>

                    <p class="bold">
                        Below are notes of things that I learned from him:
                    </p>

                    <q>“Once you learn something, you don’t learn it again.”</q>

                    <p>
                        Back then you’d be making smooth transitions by using jQuery. Using Javascript for transitions
                        is
                        too strict, so it is
                        much better and functional to use HTML for transition.
                    </p>

                    <pre>
    <code>
        html {
            scroll-behavior: smooth;
        }
    </code>
</pre>

                    <p>
                        Smooth scroll is fun, but it isn’t for everyone. We need to make our websites as accessible as
                        possible. We can set a
                        preference option with @media query:
                    </p>

                    <pre>
    <code>
        @media(prefers-reduced-motion: no-preference) {
            html {
                scroll-behavior: smooth;
            }
        }

    </code>
</pre>

                    <p>
                        Container queries are like media queries but it takes into account how wide the container is
                        instead
                        of the viewport.
                        Basically you don’t need to add extra media queries and you can decide how the children are
                        going to
                        behave. You can do
                        this with <code>container-type</code> and <code>@container (min-width:)</code>.

                    </p>

                    <p>
                        I thought Kilian was going to talk about his experiences at first, but he ended up giving us a
                        lot
                        of
                        useful tips for
                        HTML and CSS. I got a lot of useful insights about the working field while listening to him. The
                        only issue I had was
                        the fact that he was speaking too quickly, which made it difficult for me to understand him.
                    </p>
                </section>




                <section class="recommended-blogs">
                    <h3>Recommended Blogs</h3>
                    <ul class="recommended-list">
                        <li>
                            <a href="/kilian">
                                <h3>Kilian Valkhof</h3>
                                <h4>Polypane</h4>
                            </a>
                            <img src="/assets/images/kilian.png" alt="Photo of Kilian Valkhof">
                        </li>
                        <li>
                            <a href="/jeremy">
                                <h3>Jeremy Keith</h3>
                                <h4>Declarative Design</h4>
                            </a>
                            <img src="/assets/images/jeremy.png" alt="Photo of Jeremy Keith">
                        </li>
                        <li>
                            <a href="/robert">
                                <h3>Robert Spier</h3>
                                <h4>Who are we?</h4>
                            </a>
                            <img src="/assets/images/robert.jpeg" alt="Photo of Robert Spier">
                        </li>
                        <li>
                            <a href="/nils">
                                <h3>Nils Binder</h3>
                                <h4>9elements</h4>
                            </a>
                            <img src="/assets/images/nils.png" alt="Photo of Nils Binder">
                        </li>
                    </ul>
                </section>
            </section>

        </main>
        <%- include ('../partials/footer.ejs') %>