<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>

    <%- include('../partials/header.ejs') %>

        <main>
            <h1>
                <%= title %>
            </h1>


            <section id="blog">

                <div class="blogHead">
                    <img src="/assets/images/marieke.png" alt="marieke">
                    <h2>Accessibility</h2>
                    <br>
                    <h3 class="bold">Speakers: Marieke de Hoop and Pim Teeuwisse</h3>
                </div>
                <br>

                <p>
                    Marieke is a former student who interned at Active Collective. Pim is the co-founder of Digitaal
                    Toegankelijk. They told
                    us about their insights on the importance of digital accessibility.
                </p>
                <br>
                <h3>Who likes to be excluded?</h3>
                <p>
                    Nobody likes to be excluded, but it happens unintentionally due to bad accessibility in digital
                    content.
                </p>

                <br>

                <p>
                    While designing, ask yourself these questions:
                </p>
                <ul>
                    <li>
                        Can everyone perceive this content?
                    </li>
                    <li>
                        Can everyone access and use this content?
                    </li>
                    <li>
                        Can everyone understand this content?
                    </li>
                    <li>
                        Is the technology behind my digital product semantically correct?
                    </li>
                </ul>
                <br>
                <p>
                    WCAG (Web Content Accessibility Guidelines) are guidelines for making websites accessible. WCAG has 4 main
                    principles(P.O.U.R.):
                </p>
                <ul>
                    <li>
                        Perceivable
                    </li>
                    <li>Operable</li>
                    <li>Understandable</li>
                    <li>Robust</li>
                </ul>
                <br>


            </section>

        </main>
        <footer>
            <%- include('../partials/footer.ejs') %>
        </footer>
        <script src="/script.js"></script>

</body>

</html>