<%- include('../partials/head.ejs') %>


    <%- include('../partials/header.ejs') %>

        <main>
            <h1>
                <%= title %>
            </h1>


            <section id="blog">

                <section class="blogHead">
                    <img src="/assets/images/marit.jpeg" alt="stack">

                    <section class="info-blog">
                        <h2 class="bold">Mobile Ecosystems and the Public Stack</h2>
                        <h3 class="bold">Speaker:</h3>
                        <h3>Danny Lammerhirt & Marit Hoefsloot</h3>
                        <h3 class="bold">Date:</h3>
                        <!-- new date -->
                        <h3>14.03.2024</h3>
                        <h3 class="bold">Reach from company:</h3>
                        <section class="links">
                            <a href="https://www.linkedin.com/company/waag-society/" target="_blank">
                                <svg viewBox="0 0 512.69 513">
                                    <use xlink:href="/assets/icons/icons.svg#linnkedin-icon"></use>
                                </svg>
                            </a>
                            <a href="https://waag.org/nl/" target="_blank">
                                <svg viewBox="0 0 512.69 513">
                                    <use xlink:href="/assets/icons/icons.svg#world-icon"></use>
                                </svg>
                            </a>
                        </section>
                    </section>
                    <section class="topic-explain">
                        <p>
                            Danny and Marit from Waag Futurelab made us question our perception of technology. They
                            talked beyond mobile apps and encouraged us to think about the deeper layers that power
                            our devices.
                        </p>
                    </section>
                </section>

                <section class="blog-content">
                    <p>
                        Danny Lämmerhirt and Marit Hoefsloot are researchers at Waag who focus on emerging technologies.
                        They experiment with
                        alternatives based on public values and collaborate with society to work towards an open,
                        honest, and inclusive
                        future. They focus on the ethical and social impacts of emerging technologies. Their mission is
                        to:
                    </p>
                    <ul>
                        <li>
                            Encourage critical thinking about technology
                        </li>
                        <li>
                            Challenge cultural assumptions in tech
                        </li>
                        <li>
                            Create an open, fair, and inclusive future
                        </li>
                    </ul>

                    <p>
                        They emphasize viewing technology from a citizen's perspective, using the mobile phone ecosystem
                        as a model. This
                        ecosystem includes layers like content, services, apps, software libraries, exchange protocols,
                        app stores, firmware,
                        operating systems, hardware, and cloud servers, showing the complexity of modern tech.
                    </p>

                    <p>
                        FutureLab breaks down tech development into four layers: foundation, design process, tech stack
                        and citizen-centric
                        approach.
                    </p>

                    <p>
                        In summary, FutureLab wants to develop technology together with society, and help make a better
                        future and focus on
                        public values and ethics.
                    </p>

                    <p>
                        During this weekly nerd, we did a few activities with Danny and Marit. The first activity was a
                        sort of poll where they asked
                        questions about operating systems and phones and we answered questions. We also debated in the
                        class about our answers.
                        I really liked this activity. The other activity was to try and design the perfect phone with
                        our groups using the cards
                        they gave us. Afterwards they asked us to fill in a form regarding our choices in the perfect
                        phone activity. To be
                        honest I didn’t have much fun while participating in this activity, nor did I feel like I
                        learned much during this
                        activity.
                    </p>


                </section>

                <section class="recommended-blogs">
                    <h3>Recommended Blogs</h3>
                    <ul class="recommended-list">
                        <li>
                            <a href="/kilian">
                                <h3>Kilian Valkhof</h3>
                                <h4>Polypane</h4>
                            </a>
                            <img src="/assets/images/kilian.png" alt="Photo of Kilian Valkhof">
                        </li>
                        <li>
                            <a href="/jeremy">
                                <h3>Jeremy Keith</h3>
                                <h4>Declarative Design</h4>
                            </a>
                            <img src="/assets/images/jeremy.png" alt="Photo of Jeremy Keith">
                        </li>
                        <li>
                            <a href="/robert">
                                <h3>Robert Spier</h3>
                                <h4>Who are we?</h4>
                            </a>
                            <img src="/assets/images/robert.jpeg" alt="Photo of Robert Spier">
                        </li>
                        <li>
                            <a href="/nils">
                                <h3>Nils Binder</h3>
                                <h4>9elements</h4>
                            </a>
                            <img src="/assets/images/nils.png" alt="Photo of Nils Binder">
                        </li>
                    </ul>
                </section>
            </section>

        </main>

        <%- include ('../partials/footer.ejs') %>