<%- include('../partials/head.ejs') %>

    <%- include('../partials/header.ejs') %>

        <main>
            <h1>
                <%= title %>
            </h1>


            <section id="blog">

                <section class="blogHead">
                    <img src="/assets/images/digital.png" alt="marieke">

                    <section class="info-blog">
                        <h2 class="bold">Digital Accessibility</h2>
                        <h3 class="bold">Speaker:</h3>
                        <h3>Marieke de Hoop and Pim Teeuwisse</h3>
                        <h3 class="bold">Date:</h3>
                        <!-- new date -->
                        <h3>14.03.2024</h3>
                        <h3 class="bold">Reach from company:</h3>
                        <section class="links">
                            <a href="https://www.linkedin.com/company/digitaal-toegankelijk/" target="_blank">
                                <svg viewBox="0 0 512.69 513">
                                    <use xlink:href="/assets/icons/icons.svg#linnkedin-icon"></use>
                                </svg>
                            </a>
                            <a href="https://digitaaltoegankelijk.nl/" target="_blank">
                                <svg viewBox="0 0 512.69 513">
                                    <use xlink:href="/assets/icons/icons.svg#world-icon"></use>
                                </svg>
                            </a>
                        </section>
                    </section>
                    <section class="topic-explain">
                        <p>
                            Marieke and Pim emphasized inclusive digital design, focusing on WCAG principles:
                            content must be perceivable, operable, understandable, and robust.
                        </p>
                    </section>
                </section>



                <section class="blog-content">
                    <p>
                        Marieke is a former student who interned at Active Collective. Pim is the co-founder of Digitaal
                        Toegankelijk. They told
                        us about their insights on the importance of digital accessibility.
                    </p>

                    <h3>Who likes to be excluded?</h3>
                    <p>
                        Nobody likes to be excluded, but it happens unintentionally due to bad accessibility in digital
                        content.
                    </p>



                    <p>
                        While designing, ask yourself these questions:
                    </p>
                    <ul>
                        <li>
                            Can everyone perceive this content?
                        </li>
                        <li>
                            Can everyone access and use this content?
                        </li>
                        <li>
                            Can everyone understand this content?
                        </li>
                        <li>
                            Is the technology behind my digital product semantically correct?
                        </li>
                    </ul>

                    <p>
                        WCAG (Web Content Accessibility Guidelines) are guidelines for making websites accessible. WCAG
                        has
                        4 main
                        principles(P.O.U.R.):
                    </p>
                    <ul>
                        <li>Perceivable</li>
                        <li>Operable</li>
                        <li>Understandable</li>
                        <li>Robust</li>
                    </ul>

                    <h4>Audio Control:</h4>
                    <p>
                        Audio of longer than 3 seconds must be able to be paused or stopped. It should also be possible
                        to make
                        the volume lower.
                    </p>

                    <h4>No Keyboard Trap:</h4>
                    <p>
                        When you're navigating with a keyboard, you must be able to navigate out of the element or
                        section.
                    </p>

                    <h4>Pause, Stop, Hide:</h4>
                    <p>
                        All moving, flashing, scrolling or actualizing content that:
                    </p>
                    <ul>
                        <li>Start automatically,</li>
                        <li>Have a duration of longer than 5 seconds,</li>
                        <li>Gets shown parallel to another content,</li>
                    </ul>
                    <p>should be able to be paused, stopped or hidden.</p>

                    <h4>Three Flashes or Below Threshold:</h4>
                    <p>
                        There may not be an element that flashes three times or more in one second on webpages.
                    </p>

                    <p>
                        At the end they gave us practical tips to improve accessibility:
                    </p>

                    <ul>
                        <li>
                            Low Hanging Fruit: Use the four main principles and start with issues that are easier to
                            fix.
                        </li>
                        <li>
                            Test it yourself: Use screen readers like VoiceOver for Mac or NVDA for Windows on your
                            content and try to navigate it
                            with a keyboard only.
                        </li>
                        <li>
                            Test with your audience: Test the accessibility of your content directly with your target
                            audience.
                        </li>
                    </ul>
                </section>


                <section class="recommended-blogs">
                    <h3>Recommended Blogs</h3>
                    <ul class="recommended-list">
                        <li>
                            <a href="/kilian">
                                <h3>Kilian Valkhof</h3>
                                <h4>Polypane</h4>
                            </a>
                            <img src="/assets/images/kilian.png" alt="Photo of Kilian Valkhof">
                        </li>
                        <li>
                            <a href="/jeremy">
                                <h3>Jeremy Keith</h3>
                                <h4>Declarative Design</h4>
                            </a>
                            <img src="/assets/images/jeremy.png" alt="Photo of Jeremy Keith">
                        </li>
                        <li>
                            <a href="/robert">
                                <h3>Robert Spier</h3>
                                <h4>Who are we?</h4>
                            </a>
                            <img src="/assets/images/robert.jpeg" alt="Photo of Robert Spier">
                        </li>
                        <li>
                            <a href="/nils">
                                <h3>Nils Binder</h3>
                                <h4>9elements</h4>
                            </a>
                            <img src="/assets/images/nils.png" alt="Photo of Nils Binder">
                        </li>
                    </ul>
                </section>
            </section>

        </main>
        <%- include ('../partials/footer.ejs') %>