<%- include('../partials/head.ejs') %>


    <%- include('../partials/header.ejs') %>

        <main>
            <h1>
                <%= title %>
            </h1>


            <section id="blog">

                <section class="blogHead">
                    <img src="/assets/images/miriam.jpeg" alt="miriam">

                    <section class="info-blog">
                        <h2 class="bold">Media vs Containers</h2>
                        <h3 class="bold">Speaker:</h3>
                        <h3>Miriam Suzanne</h3>
                        <h3 class="bold">Date:</h3>
                        <h3>07.06.2024</h3>
                        <h3 class="bold">Reach to speaker:</h3>
                        <section class="links">
                            <a href="https://www.linkedin.com/in/terriblemia/" target="_blank">
                                <svg viewBox="0 0 512.69 513">
                                    <use xlink:href="/assets/icons/icons.svg#linnkedin-icon"></use>
                                </svg>
                            </a>
                            <a href="https://www.miriamsuzanne.com/" target="_blank">
                                <svg viewBox="0 0 512.69 513">
                                    <use xlink:href="/assets/icons/icons.svg#world-icon"></use>
                                </svg>
                            </a>
                            <a href="https://www.miriamsuzanne.com/contact/" target="_blank">
                                <svg viewBox="0 0 512.69 513">
                                    <use xlink:href="/assets/icons/icons.svg#email-icon"></use>
                                </svg>
                            </a>
                        </section>
                    </section>
                    <section class="topic-explain">
                        <p>
                            Miriam discussed CSS containers, focusing on their functionality and complexities. She
                            explained that containers inherently possess knowledge but navigating their behavior can
                            be challenging.
                        </p>
                    </section>
                </section>

                <section class="blog-content">

                    <h3>Do containers know stuff?</h3>
                    <p>Yess, But it's a little bit complicated</p>

                    <q>
                        Containers becomes more complicated with flexbox and grid...
                    </q>

                    <h3>Media Queries</h3>
                    <ul>
                        <li> Introduced in CSS to allow developers to apply styles based on the viewport's
                            characteristics, such as width, height, or
                            orientation.
                        </li>
                        <li>
                            Useful for creating responsive designs that adjust to different screen sizes and device
                            types.
                        </li>
                        <li>
                            However, they operate on the global viewport level, which can be limiting when dealing with
                            complex layouts where
                            components need to adapt to their immediate surroundings rather than the entire screen.
                        </li>
                    </ul>

                    <h3>Container Queries</h3>
                    <ul>
                        <li>
                            Container Queries address the limitations of Media Queries by allowing styles to be applied
                            based on the size and
                            characteristics of a containing element rather than the viewport.
                        </li>
                        <li>
                            This approach is more modular and enables developers to create more adaptive and reusable
                            components that respond to the
                            space available within their container.
                        </li>
                    </ul>

                    <h3>Advantages of Container Queries</h3>
                    <p>
                        Container Queries, on the other hand, allow styles to be applied based on the size of an
                        element's container, not the
                        entire viewport. This means you can style individual components based on the space they have
                        within their parent
                        element. This is useful for creating more flexible and reusable components that adapt better to
                        different layouts. For
                        example, a sidebar could look different depending on how wide its container is, regardless of
                        the overall screen size.
                    </p>

                    <h3>Implementation</h3>
                    <p>
                        Miriam explained that Container Queries use a similar syntax to Media Queries but are scoped to
                        container elements using
                        the @container rule. This makes it easier to manage and design responsive components that can
                        work in various layout
                        situations. She provided examples and practical use cases to show how Container Queries can
                        complement or even replace
                        Media Queries in complex layouts.
                    </p>

                    <h3>Challenges</h3>
                    <p>
                        She also discussed the technical challenges that were faced in developing Container Queries and
                        how they evolved over
                        time. Container Queries are now supported by modern browsers, but Miriam emphasized the
                        importance of continued feedback
                        and support from the web development community to improve and refine this feature further. Her
                        talk highlighted how
                        Container Queries can make web design more flexible, maintainable, and adaptive, offering a
                        powerful tool for modern web
                        development​ (Miriam Eric Suzanne)​​ (OddBird)​​ (CSS Day Amsterdam)​​ (Miriam Eric Suzanne)​.
                    </p>

                    <p>
                        You can learn more about this from:
                    </p>
                    <ul>
                        <li><a href="https://www.miriamsuzanne.com/speaking/containers/">Miriam Eric Suzanne - CSS
                                Containers</a></li>
                        <li><a href="https://www.miriamsuzanne.com/specs/contain-3/">Miriam Eric Suzanne - CSS Container
                                Queries</a></li>
                        <li><a href="https://slides.oddbird.net/cq/cssday/">OddBird</a></li>
                    </ul>

                </section>

                <section class="recommended-blogs">
                    <h3>Recommended Blogs</h3>
                    <ul class="recommended-list">
                        <li>
                            <a href="/kilian">
                                <h3>Kilian Valkhof</h3>
                                <h4>Polypane</h4>
                            </a>
                            <img src="/assets/images/kilian.png" alt="Photo of Kilian Valkhof">
                        </li>
                        <li>
                            <a href="/jeremy">
                                <h3>Jeremy Keith</h3>
                                <h4>Declarative Design</h4>
                            </a>
                            <img src="/assets/images/jeremy.png" alt="Photo of Jeremy Keith">
                        </li>
                        <li>
                            <a href="/robert">
                                <h3>Robert Spier</h3>
                                <h4>Who are we?</h4>
                            </a>
                            <img src="/assets/images/robert.jpeg" alt="Photo of Robert Spier">
                        </li>
                        <li>
                            <a href="/nils">
                                <h3>Nils Binder</h3>
                                <h4>9elements</h4>
                            </a>
                            <img src="/assets/images/nils.png" alt="Photo of Nils Binder">
                        </li>
                    </ul>
                </section>
            </section>

        </main>

        <%- include ('../partials/footer.ejs') %>