<%- include('../partials/head.ejs') %>


    <%- include('../partials/header.ejs') %>

        <main>
            <h1>
                <%= title %>
            </h1>


            <section id="blog">

                <section class="blogHead">
                    <img src="/assets/images/q42.png" alt="q42">

                    <section class="info-blog">
                        <h2 class="bold">Q42</h2>
                        <h3 class="bold">Speakers:</h3>
                        <h3>Employees from Q42</h3>
                        <h3 class="bold">Date:</h3>
                        <!-- new date -->
                        <h3>14.03.2024</h3>
                        <h3 class="bold">Reach to company:</h3>
                        <section class="links">
                            <a href="https://www.linkedin.com/company/q42/" target="_blank">
                                <svg viewBox="0 0 512.69 513">
                                    <use xlink:href="/assets/icons/icons.svg#linnkedin-icon"></use>
                                </svg>
                            </a>
                            <a href="https://www.q42.nl/" target="_blank">
                                <svg viewBox="0 0 512.69 513">
                                    <use xlink:href="/assets/icons/icons.svg#world-icon"></use>
                                </svg>
                            </a>
                            <a href="mailto:info@q42.nl" target="_blank">
                                <svg viewBox="0 0 512.69 513">
                                    <use xlink:href="/assets/icons/icons.svg#email-icon"></use>
                                </svg>
                            </a>
                        </section>
                    </section>
                    <section class="topic-explain">
                        <p>
                            Q42, a company founded in 2000, focuses on creating innovative products for
                            accessibility and user experience. They work with top clients, prioritize user testing,
                            and innovate in technology.
                        </p>
                    </section>
                </section>

                <section class="blog-content">

                    <p>
                        In this blog, the focus is on Q42. Q42 is a company that makes products to make life faster,
                        easier, and fun. The
                        company was founded in 2000 and it now has 100 employees, has two offices in Amsterdam and Den
                        Haag. They have worked
                        with big companies such as HEMA, Rijksmuseum, Philips, De Mol, and Hack The Planet.
                    </p>
                    <p>
                        Q42 focuses on accessibility, fighting for the end-user, and innovation. They find it important
                        to reach all people.
                        They encourage their employees to play with technology. Q42 organizes project weeks such as
                        W00tcamp, Passiedag and
                        Jumpstarts.
                    </p>
                    <p>
                        Q42 offers internships and encourages real testing with test subjects to understand them better.
                        They also shared the
                        impactful quote "I am not disabled, the world disables me" from Darice, highlighting their focus
                        on accessibility.
                    </p>
                    <p>
                        They presented the WCAG and some questions to understand your target group better:
                    </p>
                    <ul>
                        <li>What if you can’t see well?</li>
                        <li>What if you can’t hear well?</li>
                        <li>What if you can’t move well?</li>
                        <li>What if you can’t understand well?</li>
                    </ul>
                    <p>
                        Q42 developed SenseMath. Sensemath is a tool that turns graphs into sound to make them
                        accessible to people with visual
                        disabilities.
                    </p>
                    <p>
                        A former CMD student showed us her work on accessibility. She has been working for seven years
                        at Appt.org/nl/ which is
                        a guide for creating accessible apps. She uses several helpful extensions to test for
                        accessibility such as DevTools
                        axe-core 4.9.0.
                    </p>
                    <p>
                        Finally, they showed us a website called Oculi Mundi that was made by them. The client asked
                        them to make the website
                        not look like a traditional website.
                    </p>

                </section>

                <section class="recommended-blogs">
                    <h3>Recommended Blogs</h3>
                    <ul class="recommended-list">
                        <li>
                            <a href="/kilian">
                                <h3>Kilian Valkhof</h3>
                                <h4>Polypane</h4>
                            </a>
                            <img src="/assets/images/kilian.png" alt="Photo of Kilian Valkhof">
                        </li>
                        <li>
                            <a href="/jeremy">
                                <h3>Jeremy Keith</h3>
                                <h4>Declarative Design</h4>
                            </a>
                            <img src="/assets/images/jeremy.png" alt="Photo of Jeremy Keith">
                        </li>
                        <li>
                            <a href="/robert">
                                <h3>Robert Spier</h3>
                                <h4>Who are we?</h4>
                            </a>
                            <img src="/assets/images/robert.jpeg" alt="Photo of Robert Spier">
                        </li>
                        <li>
                            <a href="/nils">
                                <h3>Nils Binder</h3>
                                <h4>9elements</h4>
                            </a>
                            <img src="/assets/images/nils.png" alt="Photo of Nils Binder">
                        </li>
                    </ul>
                </section>
            </section>

        </main>

        <%- include ('../partials/footer.ejs') %>