<%- include('../partials/head.ejs') %>


    <%- include('../partials/header.ejs') %>

        <main>
            <h1>
                <%= title %>
            </h1>


            <section id="blog">

                <section class="blogHead">
                    <img src="/assets/images/q42.png" alt="q42">

                    <section class="info-blog">
                        <h2 class="bold">Q42</h2>
                        <h3 class="bold">Speakers:</h3>
                        <h3>Employees from Q42</h3>
                        <h3 class="bold">Date:</h3>
                        <!-- new date -->
                        <h3>14.03.2024</h3>
                        <h3 class="bold">Reach to company:</h3>
                        <section class="links">
                            <a href="https://www.linkedin.com/company/q42/" target="_blank">
                                <svg viewBox="0 0 512.69 513">
                                    <use xlink:href="/assets/icons/icons.svg#linnkedin-icon"></use>
                                </svg>
                            </a>
                            <a href="https://www.q42.nl/" target="_blank">
                                <svg viewBox="0 0 512.69 513">
                                    <use xlink:href="/assets/icons/icons.svg#world-icon"></use>
                                </svg>
                            </a>
                            <a href="mailto:info@q42.nl" target="_blank">
                                <svg viewBox="0 0 512.69 513">
                                    <use xlink:href="/assets/icons/icons.svg#email-icon"></use>
                                </svg>
                            </a>
                        </section>
                    </section>
                </section>

                <section class="blog-content">

                    <p></p>


                    <h2>COMING SOON...</h2>
                </section>

                <section class="recommended-blogs">
                    <h3>Recommended Blogs</h3>
                    <ul class="recommended-list">
                        <li>
                            <a href="/kilian">
                                <h3>Kilian Valkhof</h3>
                                <h4>Polypane</h4>
                            </a>
                            <img src="/assets/images/kilian.png" alt="Photo of Kilian Valkhof">
                        </li>
                        <li>
                            <a href="/jeremy">
                                <h3>Jeremy Keith</h3>
                                <h4>Declarative Design</h4>
                            </a>
                            <img src="/assets/images/jeremy.png" alt="Photo of Jeremy Keith">
                        </li>
                        <li>
                            <a href="/robert">
                                <h3>Robert Spier</h3>
                                <h4>Who are we?</h4>
                            </a>
                            <img src="/assets/images/robert.jpeg" alt="Photo of Robert Spier">
                        </li>
                        <li>
                            <a href="/nils">
                                <h3>Nils Binder</h3>
                                <h4>9elements</h4>
                            </a>
                            <img src="/assets/images/nils.png" alt="Photo of Nils Binder">
                        </li>
                    </ul>
                </section>
            </section>

        </main>

        <%- include ('../partials/footer.ejs') %>