<%- include('../partials/head.ejs') %>


    <%- include('../partials/header.ejs') %>

        <main>
            <h1>
                <%= title %>
            </h1>


            <section id="blog">

                <section class="blogHead">
                    <img src="/assets/images/robert.jpeg" alt="robert">

                    <section class="info-blog">
                        <h2 class="bold"> Who are we?</h2>
                        <h3 class="bold">Speaker:</h3>
                        <h3>Robert Spier</h3>
                        <h3 class="bold">Date:</h3>
                        <!-- new date -->
                        <h3>14.03.2024</h3>
                        <h3 class="bold">Reach to speaker:</h3>
                        <section class="links">
                            <a href="https://www.linkedin.com/in/robert-spier/" target="_blank">
                                <svg viewBox="0 0 512.69 513">
                                    <use xlink:href="/assets/icons/icons.svg#linnkedin-icon"></use>
                                </svg>
                            </a>
                            <a href="robertspier.nl" target="_blank">
                                <svg viewBox="0 0 512.69 513">
                                    <use xlink:href="/assets/icons/icons.svg#world-icon"></use>
                                </svg>
                            </a>
                            <a href="mailto:robert.spier@gmail.com" target="_blank">
                                <svg viewBox="0 0 512.69 513">
                                    <use xlink:href="/assets/icons/icons.svg#email-icon"></use>
                                </svg>
                            </a>
                        </section>
                    </section>

                    <section class="topic-explain">
                        <p>
                            Robert, a CMD alum and Blok Tech coordinator, emphasized mastering fundamentals,
                            exploring freelancing and traineeships, and prioritizing continuous learning and
                            networking.
                        </p>
                    </section>
                </section>

                <section class="blog-content">

                    <p>
                        Robert Spier, who was once a student at CMD is currently the coordinator of blok tech. He has
                        also done blok tech during
                        his student years. He shared valuable experiences and lessons about his career and gave advice
                        to us students. His
                        speech was mostly about the importance of mastering the fundamentals, staying curious, staying
                        up to date about trends
                        in the industry, and enjoying the learning process.
                    </p>
                    <p>
                        He spoke about the career paths after graduation such as freelancing, traineeships, working in
                        design studios, full
                        design services, and in-house services. Each of these options has advantages and disadvantages
                        which students should
                        consider carefully for their career goals.
                    </p>
                    <p>
                        Robert learns new languages, frameworks and technologies every year. He claims that you can
                        learn everything once you
                        have the basics down. He told us that the most popular languages that are currently being used
                        are:
                    </p>
                    <ul>
                        <li>NodeJS</li>
                        <li>React</li>
                        <li>jQuery</li>
                        <li>Express</li>
                        <li>Angular</li>
                        <li>Vue</li>
                    </ul>
                    <p>
                        He also talked about the financial side of things such as the importance of understanding salary
                        expectations and
                        benefits, and how to balance these two aspects. This includes being aware of things like:
                    </p>
                    <ul>
                        <li>vacation money,</li>
                        <li>travel money,</li>
                        <li>pension building,</li>
                        <li>bonuses,</li>
                        <li>profit sharing,</li>
                        <li>stock options,</li>
                        <li>a car,</li>
                        <li>etc.</li>
                    </ul>

                    <p>
                        He finds it important for students to be able to have open discussions about these topics, such
                        as discussing benefits
                        with classmates, using the internet for job applications, and calculating monthly costs. He
                        encourages students to
                        normalize having discussions about money, as it is a very important part of their careers.
                    </p>

                    <p>
                        He encourages students to be proactive when it comes to job hunting and career development. This
                        means doing their own
                        research about possible employers, understanding that it's perfectly okay to say no to a company
                        if it isn’t in line
                        with their goals and/or values. He apparently never made a portfolio but people still find him
                        thanks to his networking,
                        which goes to show how important networking is.
                    </p>

                    <p>
                        In conclusion, Robert Spier's speech was basically a guide to preparing for a career after
                        graduation. The main message
                        to students was: Your career is important but you should also try to have fun, get recognized,
                        and understand that it's
                        okay to make mistakes along the way.
                    </p>

                </section>

                <section class="recommended-blogs">
                    <h3>Recommended Blogs</h3>
                    <ul class="recommended-list">
                        <li>
                            <a href="/kilian">
                                <h3>Kilian Valkhof</h3>
                                <h4>Polypane</h4>
                            </a>
                            <img src="/assets/images/kilian.png" alt="Photo of Kilian Valkhof">
                        </li>
                        <li>
                            <a href="/jeremy">
                                <h3>Jeremy Keith</h3>
                                <h4>Declarative Design</h4>
                            </a>
                            <img src="/assets/images/jeremy.png" alt="Photo of Jeremy Keith">
                        </li>
                        <li>
                            <a href="/robert">
                                <h3>Robert Spier</h3>
                                <h4>Who are we?</h4>
                            </a>
                            <img src="/assets/images/robert.jpeg" alt="Photo of Robert Spier">
                        </li>
                        <li>
                            <a href="/nils">
                                <h3>Nils Binder</h3>
                                <h4>9elements</h4>
                            </a>
                            <img src="/assets/images/nils.png" alt="Photo of Nils Binder">
                        </li>
                    </ul>
                </section>
            </section>

        </main>

        <%- include ('../partials/footer.ejs') %>