<%- include('../partials/head.ejs') %>


    <%- include('../partials/header.ejs') %>

        <main>
            <h1>
                <%= title %>
            </h1>


            <section id="blog">

                <section class="blogHead">
                    <img src="/assets/images/rosa.png" alt="rosa">

                    <section class="info-blog">
                        <h2 class="bold">Digital Art</h2>
                        <h3 class="bold">Speaker:</h3>
                        <h3>Rosa Schuurmans</h3>
                        <h3 class="bold">Date:</h3>
                        <!-- new date -->
                        <h3>14.03.2024</h3>
                        <h3 class="bold">Reach to speaker:</h3>
                        <section class="links">
                            <a href="https://www.linkedin.com/in/rosa-schuurmans-86b17393/" target="_blank">
                                <svg viewBox="0 0 512.69 513">
                                    <use xlink:href="/assets/icons/icons.svg#linnkedin-icon"></use>
                                </svg>
                            </a>
                            <a href="https://vitrinekast.xyz/" target="_blank">
                                <svg viewBox="0 0 512.69 513">
                                    <use xlink:href="/assets/icons/icons.svg#world-icon"></use>
                                </svg>
                            </a>
                            <a href="mailto:rosa@vitrinekast.xyz" target="_blank">
                                <svg viewBox="0 0 512.69 513">
                                    <use xlink:href="/assets/icons/icons.svg#email-icon"></use>
                                </svg>
                            </a>
                        </section>
                    </section>
                    <section class="topic-explain">
                        <p>
                            Rosa, a creative developer and former CMD student, specializes in UX design and
                            development, with a passion for "circuit bending" and sound systems.
                        </p>
                    </section>
                </section>

                <section class="blog-content">

                    <p>
                        Rosa Schuurmans is a creative developer who combines her UX design and development skills to
                        make playful and fun
                        applications. She is a former CMD student who has done the Web Design & Development minor.
                    </p>
                    <p>
                        She has worked for 5 years at Elastique/Wetteloos as a digital creative. She is actively
                        involved in “circuit bending”
                        which is using existing technologies and frameworks to create new and playful applications. Rosa
                        is also currently doing
                        her master in experimental publishing.
                    </p>
                    <p>
                        Circuit bending is creatively altering circuits in electronic devices to make new musical or
                        visual instruments. It
                        started in the 1970s with the rise of electronic art.
                    </p>
                    <p>
                        Rosa’s creativity is impressive when it comes to tinkering skills. She seems to have a lot of
                        fun while playing with
                        electronics. She gave us the tips below for circuit bending:
                    </p>
                    <ul>
                        <li>Only use battery-powered devices.</li>
                        <li>Use your senses and brain.</li>
                        <li>Look for short-circuits and try to bypass systems.</li>
                        <li>Mark your findings.</li>
                        <li>Create interactions with the altered circuits.</li>
                    </ul>

                    <p>
                        Rosa told us to find a fun workplace for an internship, a company that is trying new and
                        interesting things.
                    </p>

                    <p>
                        She introduced us to a bunch of workshops and places to get inspiration and/or look for an
                        internship:
                    </p>
                    <ul>
                        <li>Worm</li>
                        <li>Varia</li>
                        <li>Vroom</li>
                        <li>CCU</li>
                        <li>Modulation Utrecht</li>
                        <li>Acid Solder club</li>
                        <li>OT301</li>
                        <li>Fiber Festival</li>
                        <li>INC</li>
                        <li>LI-MA</li>
                        <li>Hackers & Designers</li>
                    </ul>

                    <p>
                        Rosa’s lecture was interesting and eye opening. It inspired me to think more out-of-the-box and
                        stop limiting myself by
                        the boundaries and limits. Circuit bending doesn’t really sound like something that I’d do by
                        myself but the mentality
                        that Rosa presented with circuit bending is something that I can take with me along the journey.
                    </p>
                </section>

                <section class="recommended-blogs">
                    <h3>Recommended Blogs</h3>
                    <ul class="recommended-list">
                        <li>
                            <a href="/kilian">
                                <h3>Kilian Valkhof</h3>
                                <h4>Polypane</h4>
                            </a>
                            <img src="/assets/images/kilian.png" alt="Photo of Kilian Valkhof">
                        </li>
                        <li>
                            <a href="/jeremy">
                                <h3>Jeremy Keith</h3>
                                <h4>Declarative Design</h4>
                            </a>
                            <img src="/assets/images/jeremy.png" alt="Photo of Jeremy Keith">
                        </li>
                        <li>
                            <a href="/robert">
                                <h3>Robert Spier</h3>
                                <h4>Who are we?</h4>
                            </a>
                            <img src="/assets/images/robert.jpeg" alt="Photo of Robert Spier">
                        </li>
                        <li>
                            <a href="/nils">
                                <h3>Nils Binder</h3>
                                <h4>9elements</h4>
                            </a>
                            <img src="/assets/images/nils.png" alt="Photo of Nils Binder">
                        </li>
                    </ul>
                </section>

            </section>

        </main>
        <%- include ('../partials/footer.ejs') %>